In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# import data
df_nyc_property = pd.read_csv("dataset/nyc-rolling-sales.csv")

In [2]:
df_nyc_property.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB

In [3]:
df_nyc_property.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [4]:
# drop unnamed column
df_nyc_property = df_nyc_property.drop(
    columns=["Unnamed: 0", "EASE-MENT"], errors="ignore")
df_nyc_property.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,C2,153 AVENUE B,,10009,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,C7,234 EAST 4TH STREET,,10009,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,C7,197 EAST 3RD STREET,,10009,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,154 EAST 7TH STREET,,10009,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,C2,301 EAST 10TH STREET,,10009,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [5]:
# Convert to datetime
df_nyc_property["SALE DATE"] = pd.to_datetime(
    df_nyc_property["SALE DATE"], errors="coerce")
df_nyc_property.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         84548 non-null  int64
 1   NEIGHBORHOOD                    84548 non-null  object
 2   BUILDING CLASS CATEGORY         84548 non-null  object
 3   TAX CLASS AT PRESENT            84548 non-null  object
 4   BLOCK                           84548 non-null  int64
 5   LOT                             84548 non-null  int64
 6   BUILDING CLASS AT PRESENT       84548 non-null  object
 7   ADDRESS                         84548 non-null  object
 8   APARTMENT NUMBER                84548 non-null  object
 9   ZIP CODE                        84548 non-null  int64
 10  RESIDENTIAL UNITS               84548 non-null  int64
 11  COMMERCIAL UNITS                84548 non-null  int64
 12  TOTAL UNITS                     84548 non-null  int64
 13  LAND SQUARE FEET                84548 non-null  object
 14  GROSS SQUARE FEET               84548 non-null  object
 15  YEAR BUILT                      84548 non-null  int64
 16  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 17  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 18  SALE PRICE                      84548 non-null  object
 19  SALE DATE                       84548 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(9), object(10)
memory usage: 12.9+ MB

In [6]:
# Convert numeric-looking object columns
num_cols = ["LAND SQUARE FEET", "GROSS SQUARE FEET", "SALE PRICE"]

for col in num_cols:
    df_nyc_property[col] = (
        df_nyc_property[col]
        .astype(str)                           # ensure string for .str methods
        .str.replace(",", "", regex=False)     # remove commas
        .str.strip()                           # remove whitespace
    )
    # Convert to numeric, coerce errors to NaN
    df_nyc_property[col] = pd.to_numeric(df_nyc_property[col], errors="coerce")

# Check conversion
print(df_nyc_property[num_cols].dtypes)
print(df_nyc_property[num_cols].head(10))

LAND SQUARE FEET     float64
GROSS SQUARE FEET    float64
SALE PRICE           float64
dtype: object
   LAND SQUARE FEET  GROSS SQUARE FEET  SALE PRICE
0            1633.0             6440.0   6625000.0
1            4616.0            18690.0         NaN
2            2212.0             7803.0         NaN
3            2272.0             6794.0   3936272.0
4            2369.0             4615.0   8000000.0
5            2581.0             9730.0         NaN
6            1750.0             4226.0   3192840.0
7            5163.0            21007.0         NaN
8            1534.0             9198.0         NaN
9            4489.0            18523.0  16232000.0

In [7]:
df_nyc_property.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         84548 non-null  int64
 1   NEIGHBORHOOD                    84548 non-null  object
 2   BUILDING CLASS CATEGORY         84548 non-null  object
 3   TAX CLASS AT PRESENT            84548 non-null  object
 4   BLOCK                           84548 non-null  int64
 5   LOT                             84548 non-null  int64
 6   BUILDING CLASS AT PRESENT       84548 non-null  object
 7   ADDRESS                         84548 non-null  object
 8   APARTMENT NUMBER                84548 non-null  object
 9   ZIP CODE                        84548 non-null  int64
 10  RESIDENTIAL UNITS               84548 non-null  int64
 11  COMMERCIAL UNITS                84548 non-null  int64
 12  TOTAL UNITS                     84548 non-null  int64
 13  LAND SQUARE FEET                58296 non-null  float64
 14  GROSS SQUARE FEET               56936 non-null  float64
 15  YEAR BUILT                      84548 non-null  int64
 16  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 17  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 18  SALE PRICE                      69987 non-null  float64
 19  SALE DATE                       84548 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(9), object(7)
memory usage: 12.9+ MB

In [9]:
df_nyc_property.isnull().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                  0
BLOCK                                 0
LOT                                   0
BUILDING CLASS AT PRESENT             0
ADDRESS                               0
APARTMENT NUMBER                      0
ZIP CODE                              0
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                           0
LAND SQUARE FEET                  26252
GROSS SQUARE FEET                 27612
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                        14561
SALE DATE                             0
dtype: int64

In [8]:
import pandas as pd

# Select the numeric columns of interest
cols_to_check = ["SALE PRICE", "GROSS SQUARE FEET", "LAND SQUARE FEET"]

for col in cols_to_check:
    print(f"\n--- {col} ---")
    print(f"Non-null count: {df_nyc_property[col].notnull().sum()}")
    print(f"Null count: {df_nyc_property[col].isnull().sum()}")
    print(f"Zero count: {(df_nyc_property[col] == 0).sum()}")

--- SALE PRICE ---
Non-null count: 69987
Null count: 14561
Zero count: 10228

--- GROSS SQUARE FEET ---
Non-null count: 56936
Null count: 27612
Zero count: 11417

--- LAND SQUARE FEET ---
Non-null count: 58296
Null count: 26252
Zero count: 10326