## Level 1 – Welcome Message for a Dataset

In [ ]:
# Write a function that takes a dataset name as a string
# and returns: "Loading dataset: <dataset_name>..."
# Example: load_message("sales_2024") → "Loading dataset: sales_2024..."

## Level 2 – Convert Celsius to Fahrenheit

In [ ]:
# In data preprocessing, you might need to convert temperature units.
# Write a function that converts Celsius to Fahrenheit.
# Formula: (°C × 9/5) + 32
# Example: celsius_to_fahrenheit(25) → 77.0

## Level 3 – Format Currency

In [ ]:
# Often in data presentation, we want to display numbers as currency.
# Write a function that takes a sales amount (float or int)
# and returns it formatted as USD currency with commas and two decimal places.
# Example: format_currency(1234567.891) → "$1,234,567.89"

## Level 4 – Clean Column Name

In [ ]:
# In real datasets, column names can be messy.
# Write a function that takes a column name string and:
# - replaces spaces with underscores
# - converts everything to lowercase
# Example: clean_column_name("Total Sales") → "total_sales"

## Level 5 – Filter Above Threshold

In [ ]:
# Write a function that takes a list of numbers and a threshold,
# and returns a new list containing only the numbers greater than the threshold.
# Example: filter_above_threshold([5, 12, 7, 20], 10) → [12, 20]

## Level 6 – Top N Customers

In [ ]:
# Write a function that takes a dictionary of customer: sales_value
# and an integer n, and returns the top n customers by sales value
# as a list of (customer, sales) tuples.
# Example:
# top_customers({"Alice": 300, "Bob": 150, "Charlie": 400}, 2)
# → [("Charlie", 400), ("Alice", 300)]