# DATA TYPES, VARIABLES & OPERATORS

## Bilangan Bulat (Integers)

Di Python 3, tidak ada batasan sejauh mana panjang nilai integer dapat dibuat. Tentu saja, hal ini terbatas oleh jumlah **memori** yang tersedia pada sistem Anda, seperti halnya semua hal lainnya, namun di luar itu, sebuah **integer** dapat sebesar yang Anda butuhkan.

In [ ]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [ ]:
# Python menginterpretasikan urutan digit desimal tanpa awalan apapun sebagai angka desimal:

print(10)
print(type(10))

10
<class 'int'>

## Angka Floating-Point (Floating-Point Numbers)

Tipe **float** di Python menunjuk pada angka floating-point. Nilai **float** ditentukan dengan menggunakan tanda titik desimal. Secara opsional, karakter **e** atau **E** diikuti dengan angka positif atau negatif dapat ditambahkan untuk menunjukkan notasi ilmiah:

In [ ]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

## String

**String** adalah urutan data karakter. Tipe data string di Python disebut **str**.

Literal string dapat dibatasi menggunakan tanda kutip tunggal (**'**) atau tanda kutip ganda (**"**). Semua karakter di antara pembatas pembuka dan penutup yang cocok merupakan bagian dari string tersebut:

In [ ]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

Sebuah **string** di Python dapat berisi sebanyak mungkin karakter yang Anda inginkan. Satu-satunya batasan adalah **sumber daya memori** yang tersedia pada mesin Anda. Sebuah string juga bisa **kosong**:

In [ ]:
print('')

In [ ]:
print("This string contains a single quote (') character.")

print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

## Tipe Boolean, Konteks Boolean, dan "Truthiness"

Python 3 menyediakan tipe data **Boolean**. Objek dari tipe Boolean hanya dapat memiliki salah satu dari dua nilai, yaitu **True** atau **False**:

In [ ]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

## Variable Assignment

Pikirkan variabel sebagai nama yang terhubung dengan objek tertentu. Di Python, variabel tidak perlu dideklarasikan atau didefinisikan terlebih dahulu, seperti yang diperlukan di banyak bahasa pemrograman lainnya. Untuk membuat sebuah variabel, Anda cukup memberikan nilai kepadanya dan mulai menggunakannya. *Assignment* dilakukan dengan tanda sama dengan tunggal (=):

In [ ]:
n = 300

In [ ]:
print(n)

300

In [ ]:
n

300

In [ ]:
# Kemudian, jika Anda mengubah nilai 'n' dan menggunakannya lagi, nilai baru akan disubstitusi sebagai gantinya:

n = 1000
print(n)

n

1000

1000

Python juga memungkinkan **chained assignment**, yang memungkinkan Anda untuk menetapkan nilai yang sama ke beberapa variabel secara bersamaan:

In [ ]:
a = b = c = 300
print(a, b, c)

300 300 300

## Tipe Variabel di Python

Di banyak bahasa pemrograman, variabel memiliki **tipe statis**. Artinya, variabel dideklarasikan dengan tipe data tertentu pada awalnya, dan nilai apa pun yang diberikan kepadanya harus selalu memiliki tipe tersebut.

Namun, variabel di Python **tidak terikat** pada pembatasan ini. Di Python, sebuah variabel dapat diberikan nilai dengan satu tipe dan kemudian diubah ke tipe yang berbeda di kemudian hari:

In [ ]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

## Nama Variabel

Contoh-contoh yang telah Anda lihat sejauh ini menggunakan nama variabel yang pendek dan singkat seperti **m** dan **n**. Namun, nama variabel bisa lebih panjang dan deskriptif. Sebenarnya, sering kali lebih baik jika nama variabel tersebut lebih panjang, karena hal ini membuat tujuan variabel lebih jelas hanya dengan melihatnya.

Secara resmi, nama variabel di Python bisa memiliki panjang berapa pun dan dapat terdiri dari huruf besar dan kecil (A-Z, a-z), angka (0-9), dan karakter garis bawah (**_**). Ada pembatasan tambahan yaitu, meskipun nama variabel dapat mengandung angka, **karakter pertama** dari nama variabel **tidak boleh berupa angka**.

In [ ]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

Namun contoh dibawah ini tidak sah, karena nama variabel **tidak boleh dimulai dengan angka**:

In [ ]:
# 9_kepala_naga = True

Perhatikan bahwa **huruf besar dan kecil** itu penting. Huruf kecil dan huruf besar **tidaklah sama**. Penggunaan karakter garis bawah (**_**) juga penting. Masing-masing dari berikut ini mendefinisikan variabel yang berbeda:

In [ ]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

Di sisi lain, tidak semuanya selalu **sama mudah dibaca**. Seperti banyak hal lainnya, ini adalah masalah **preferensi pribadi**, tetapi kebanyakan orang akan merasa bahwa dua contoh pertama, di mana huruf-hurufnya digabungkan bersama, lebih sulit dibaca, terutama yang menggunakan huruf kapital semua. Metode yang paling umum digunakan untuk membangun nama variabel dengan banyak kata adalah tiga contoh terakhir:

- **Camel Case**: Kata kedua dan kata-kata berikutnya ditulis dengan huruf kapital, untuk memudahkan melihat batas kata. (Mungkin seseorang berpikir pada suatu titik bahwa huruf kapital yang tersebar di seluruh nama variabel tersebut agak mirip dengan punuk unta.)  
  Contoh: **numberOfCollegeGraduates**

- **Pascal Case**: Identik dengan Camel Case, kecuali kata pertama juga menggunakan huruf kapital.  
  Contoh: **NumberOfCollegeGraduates**

- **Snake Case**: Kata-kata dipisahkan dengan garis bawah (**_**).  
  Contoh: **number_of_college_graduates**

Para programmer sering berdebat dengan penuh semangat tentang mana yang lebih baik di antara ketiganya. Argumen yang baik bisa dibuat untuk semua gaya tersebut. Gunakan mana pun dari ketiga gaya tersebut yang paling enak dilihat bagi Anda. Pilih salah satu dan gunakan secara konsisten.

## Operators & Expressions

Di Python, **operator** adalah simbol khusus yang menandakan bahwa suatu jenis perhitungan harus dilakukan. Nilai-nilai yang menjadi objek operator disebut **operand**.

Berikut adalah contohnya:

In [ ]:
a = 10
b = 20
a + b

30

Dalam hal ini, operator **+** menambahkan operand **a** dan **b** bersama-sama. Sebuah operand bisa berupa nilai literal atau variabel yang merujuk ke suatu objek:

In [ ]:
a = 10
b = 20
a + b - 5

25

Sekumpulan operand dan operator, seperti **a + b - 5**, disebut sebagai **ekspresi**. Python mendukung banyak operator untuk menggabungkan objek data ke dalam ekspresi.

### Aritmetic Operators

In [ ]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [ ]:
# Hasil dari pembagian standar (/) selalu berupa 'float', meskipun pembilang dapat dibagi habis oleh penyebut:

10 / 5

2.0

### Comparison Operators

In [ ]:
a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)


a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

## String Manipulation

In [ ]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)


print('Hacktiv8 ' + 'Inalum')

foobar
foobarbaz
Hacktiv8 Inalum

In [ ]:
# * Operators

s = 'foo.'

s * 4

'foo.foo.foo.foo.'

In [ ]:
# in Operators

s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [ ]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

## Python Lists

Singkatnya, **list** adalah kumpulan objek sembarang, yang mirip dengan array di banyak bahasa pemrograman lainnya, tetapi lebih fleksibel. List didefinisikan di Python dengan menyertakan urutan objek yang dipisahkan koma dalam tanda kurung siku **([])**, seperti yang ditunjukkan di bawah ini:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

Karakteristik penting dari **list** di Python adalah sebagai berikut:

- **List bersifat terurut** (ordered).
- **List dapat berisi objek sembarang** (any arbitrary objects).
- **Elemen-elemen list dapat diakses menggunakan indeks**.
- **List dapat disarangkan** (nested) hingga kedalaman yang tidak terbatas.
- **List bersifat mutable** (dapat diubah).
- **List bersifat dinamis** (dapat berkembang dan mengecil sesuai kebutuhan).

### List Bersifat Terurut (Ordered)

Sebuah **list** bukan sekadar kumpulan objek. Ia adalah kumpulan objek yang terurut. Urutan di mana Anda menentukan elemen-elemen saat mendefinisikan sebuah list adalah karakteristik bawaan dari list tersebut dan dipertahankan sepanjang umur list itu. (Anda akan melihat tipe data Python yang tidak terurut pada tutorial berikutnya mengenai **dictionaries**.)

List yang memiliki elemen yang sama dalam urutan yang berbeda ini berarti kondisi tersebut **bukanlah sama**:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

### List Dapat Berisi Objek Sembarangan

Sebuah **list** dapat berisi berbagai macam objek. Elemen-elemen dalam sebuah list bisa semuanya memiliki tipe yang sama:

In [ ]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### Elemen List Dapat Diakses dengan Indeks

Setiap elemen dalam list dapat diakses menggunakan indeks dalam tanda kurung siku. Ini sangat mirip dengan mengakses karakter-karakter individual dalam sebuah string. **Indeks list bersifat berbasis nol** (zero-based), sama seperti pada string.

Pertimbangkan list berikut:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

<img src='https://files.realpython.com/media/t.eb0b38e642c5.png' />

In [ ]:
print(a[0])
print(a[5])

foo
corge

Hampir segala hal mengenai **indeks string** bekerja dengan cara yang sama pada **list**. Misalnya, indeks negatif pada list menghitung dari **akhir list**:

<img src='https://files.realpython.com/media/t.c11ea56e8ca2.png' />

In [ ]:
print(a[-1])
print(a[-6])

corge
foo

**Slicing** juga berfungsi dengan cara yang sama. Jika **a** adalah sebuah list, ekspresi `a[m:n]` akan mengembalikan bagian dari **a** mulai dari indeks **m** hingga, tetapi **tidak termasuk**, indeks **n**:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [ ]:
# Operator 'konkatenasi' (+) dan 'replikasi' (*):

print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [ ]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

### Mengubah Nilai List Tunggal

Sebuah nilai dalam list dapat diganti dengan menggunakan indeks dan penugasan sederhana:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [ ]:
# Sebuah item dalam list dapat dihapus menggunakan perintah **del**:

del a[3]

In [ ]:
print(a)

['foo', 'bar', 10, 'quux', 20]

### Mengubah Beberapa Nilai List

Bagaimana jika Anda ingin mengubah beberapa elemen yang berurutan dalam sebuah list sekaligus? Python memungkinkan hal ini dengan **slice assignment**, yang memiliki sintaksis berikut:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## **Python Tuples**

Python menyediakan tipe data lain yang juga merupakan **kumpulan objek terurut**, yang disebut **tuple**.


### **Mendefinisikan dan Menggunakan Tuple**

Tuple identik dengan list dalam segala hal, kecuali untuk sifat-sifat berikut:

- Tuple didefinisikan dengan menyertakan elemen-elemen dalam tanda kurung **(())** bukannya tanda kurung siku **([])**.
- Tuple **bersifat immutable** (tidak bisa diubah).

Berikut adalah contoh singkat yang menunjukkan definisi tuple, indeks, dan slicing:

In [ ]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [ ]:
print(t[0])

print(t[-1])

foo
corge

In [ ]:
# packing & unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

## **Python Dictionary**

**Dictionaries** dan **lists** memiliki kesamaan dalam beberapa hal, yaitu:

- **Keduanya bersifat mutable** (dapat diubah).
- **Keduanya bersifat dinamis**, artinya mereka dapat berkembang dan mengecil sesuai kebutuhan.
- **Keduanya dapat disarangkan** (nested). Sebuah list dapat berisi list lain. Sebuah dictionary dapat berisi dictionary lain. Sebuah dictionary juga dapat berisi list, dan sebaliknya.

Namun, **dictionary** berbeda dengan **list** terutama dalam cara **mengakses elemen**:

- Elemen-elemen **list** diakses berdasarkan posisi mereka dalam list, melalui **indexing**.
- Elemen-elemen **dictionary** diakses menggunakan **key**.

### **Mendefinisikan Dictionary**

**Dictionaries** adalah implementasi Python dari struktur data yang lebih umum dikenal sebagai **associative array**. Sebuah dictionary terdiri dari kumpulan pasangan **key-value**. Setiap pasangan **key-value** memetakan key ke nilai yang terkait dengannya.

Anda dapat mendefinisikan dictionary dengan menyertakan daftar pasangan **key-value** yang dipisahkan koma dalam **kurung kurawal** (**{}**). Sebuah **titik dua** (**:**) memisahkan setiap key dari nilai yang terkait.

Berikut adalah contoh yang mendefinisikan sebuah dictionary yang memetakan lokasi ke nama tim **Major League Baseball** yang sesuai:

In [ ]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

<img src='https://files.realpython.com/media/t.b3e3d8f2d100.png' width='30%'/>

### **Mengakses Nilai dalam Dictionary**

Tentu saja, elemen-elemen dalam dictionary harus dapat diakses dengan cara tertentu. Jika Anda tidak mengaksesnya melalui **indeks**, lalu bagaimana cara Anda mengaksesnya?

Nilai dalam dictionary diambil dengan menyebutkan **key** yang sesuai di dalam **kurung siku** (**[]**):

In [ ]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [ ]:
# Menambahkan entri ke dictionary yang sudah ada cukup dengan memberikan 'key' baru dan 'value' baru:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [ ]:
# Jika Anda ingin memperbarui entri, Anda cukup menetapkan 'value' baru ke 'key' yang sudah ada:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [ ]:
# Untuk menghapus entri, gunakan pernyataan 'del', dengan menyebutkan 'key' yang ingin dihapus:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### **Membangun Dictionary Secara Bertahap**

Mendefinisikan dictionary menggunakan **kurung kurawal** dan daftar pasangan **key-value**, seperti yang ditunjukkan di atas, sangat baik jika Anda sudah mengetahui semua **key** dan **value** sebelumnya. Namun, bagaimana jika Anda ingin membangun dictionary secara **dinamis**?

Anda dapat mulai dengan membuat dictionary kosong, yang didefinisikan dengan **kurung kurawal kosong**. Kemudian, Anda dapat menambahkan **key** dan **value** baru satu per satu:

In [ ]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'Inalum'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [ ]:
person

{'fname': 'Hack',
 'lname': 'Inalum',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [ ]:
print(person['fname'])
print(person['lname'])

Hack
Inalum

In [ ]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [ ]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [ ]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

Sekarang, Anda telah mempelajari tentang **variabel**, **operator**, dan **tipe data** Python secara mendalam, serta telah melihat banyak contoh kode. Hingga saat ini, kode yang telah dibahas terdiri dari pernyataan-pernyataan pendek yang hanya berfokus pada penugasan objek ke variabel atau menampilkan nilai.

Namun, tentu Anda ingin melakukan lebih dari sekadar mendefinisikan data dan menampilkannya! Mari kita mulai mengatur kode menjadi **kelompok-kelompok** yang lebih kompleks.

## **Pernyataan (Statements) di Python**

**Pernyataan (statements)** adalah unit dasar instruksi yang diproses dan dianalisis oleh **Python interpreter**. Secara umum, interpreter mengeksekusi pernyataan secara **sekuensial**, satu per satu sesuai urutan yang ditemui. (Anda akan melihat pada tutorial berikutnya tentang **conditional statements**, bagaimana perilaku ini dapat diubah.)

Dalam sesi **REPL (Read-Eval-Print Loop)**, pernyataan-pernyataan dieksekusi sesuai dengan yang Anda ketikkan, hingga interpreter dihentikan. Ketika Anda menjalankan sebuah **script file**, interpreter membaca pernyataan-pernyataan dari file tersebut dan mengeksekusinya hingga mencapai **end-of-file**.

Program Python umumnya diatur dengan **satu pernyataan per baris**. Dengan kata lain, setiap pernyataan menempati satu baris, dengan akhir pernyataan ditandai oleh **karakter newline** yang menandakan akhir baris. Sebagian besar contoh yang ada di tutorial ini telah mengikuti pola ini.

In [ ]:
print('Hello, World!')

x = [1, 2, 3]
print(x)

Hello, World!
[1, 2, 3]

## **Penyambungan Baris (Line Continuation)**

Misalkan sebuah pernyataan dalam kode Python Anda sangat panjang. Sebagai contoh, Anda mungkin memiliki pernyataan **penugasan** dengan banyak **istilah**:

In [ ]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [ ]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True