In [1]:
1234

1234

In [1]:
print ("hello all good people")

hello all good people

In [3]:
0
23
34
12
34

34

In [4]:
print(1)
print(2)
print(3)

1
2
3

berikut adalah contoh tipe data integer

kita gunakan keyword "print" fungsi bawaan python untuk memperlihatkan angka integer di layar

In [5]:
print(123)

123

selain print, kita pakai juga keyword "type" untuk meminta python menunjukkan tipe datanya apa

In [6]:
type(123)

int

In [7]:
print(type(123))
print(type(0))

<class 'int'>
<class 'int'>

selain integer, kita punya tipe data angka yang berdesimal, "float"

In [8]:
4.2

4.2

In [9]:
type(5.0)

float

In [10]:
print(type(-3.8))

<class 'float'>

untuk mengubah tipe data int ke float, float ke int kita bisa gunakan keyword "int" dan "float"

In [11]:
int(3.14)

3

In [12]:
float(8)

8.0

untuk membuat tipe data text (string) kita gunakan kutip

In [13]:
"abc"

'abc'

In [14]:
'abc'

'abc'

In [15]:
type("hacktiv8")

str

In [17]:
print(type("python data science"))
print(type('python data science'))

<class 'str'>
<class 'str'>

mirip dengan int dan float, kita bisa ubah tipe data menjadi string menggunakan keyword "str"

tapi untuk ubah data ke int dan float, isi str harus angka yang valid, kalau tidak dia error

In [18]:
str(3245)

'3245'

In [19]:
str(4.6598)

'4.6598'

In [20]:
int("5")

5

In [21]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

In [22]:
int("6.3")

ValueError: invalid literal for int() with base 10: '6.3'

In [23]:
float("6.3")

6.3

In [24]:
int(float("6.3"))

6

tipe data boolean True False

biasanya digunakan untuk membangun sebuah rule, nanti di sesi 2 kita bahas

In [25]:
True

True

In [26]:
False

False

In [27]:
type(True)

bool

In [28]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

kita bisa pakai keyword "bool" untuk ubah data menjadi tipe boolean

kita punya konsep Truthy dan Falsy.

Truthy adalah tipe2 data yang akan menjadi True.

Falsy adalah tipe2 data yang jadi False.

Cuma ada beberapa tipe data yang Falsy:
- 0
- 0.0
- ""
- ''
- []
- ()
- {}
- False

data data yang sifatnya "kosong" biasanya falsy.

In [30]:
bool(10)

True

In [31]:
bool(0)

False

untuk perbandingan data, hasil perbandingan menjadi sebuah false

In [32]:
1/0

ZeroDivisionError: division by zero

data yang sejauh ini kita tulis, tidak bisa kita recall, karena tidak punya nama, jadi kita gunakan Variable untuk memberi nama dan menyimpan data tersebut.

- tidak dimulai dengan angka
- bukan keyword python
- cara penulisannya sebaiknya kita standarisasi
  - camelCase
  - snake_case
  - PascalCase

nama variable di Python itu case sensitive, artinya Age dan age adalah dua variable berbeda.

In [33]:
nilai_andi = 80
NilaiAndi = 70
nilaiAndi = 60
_nilai_andi = 90
nilai_andi_ = 100

print(nilai_andi)
print(NilaiAndi)
print(nilaiAndi)
print(_nilai_andi)
print(nilai_andi_)

80
70
60
90
100

variable di python tidak terpaku ke tipe data tertentu, jadi variable nilai andi yang kita buat yang isinya integer, bisa kita ubah jadi isinya float, string, boolean atau yang lainnya

berikut contoh re-assign variable value

In [34]:
nilai_andi = 23.768

In [35]:
type(nilai_andi)

float

In [36]:
nilai_andi = "bagus"

In [37]:
type(nilai_andi)

str

variable yang sudah pernah kita buat, bisa kita panggil

In [38]:
nilai_andi

'bagus'

Operator dan Expression

operator matematik termasuk + - * /

expresi adalah saat kita gunakan operator matematik tersebut

In [39]:
a = 10
b = 7

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

17
3
70
1.4285714285714286
3
10000000

operator komparatif

untuk membandingkan:
- \>
- \>=
- \<
- \<=
- \==
- !=

In [43]:
print(a, b)

print(">", a > b)
print(">=", a >= b)
print("<", a < b)
print("<=", a <= b)
print("==", a == b)
print("!=", a != b)

10 7
> True
>= True
< False
<= False
== False
!= True

In [45]:
# comment
# kita akan pelajari teknik2 mengubah string

nama_depan = "andi"
nama_belakang = "budianto"

# kita bisa + untuk concatenate string tersebut
print(nama_depan + " " + nama_belakang)

# kalau pakai + kita bisa assign hasilnya ke variable lagi
nama_lengkap = nama_depan + " " + nama_belakang
print(nama_lengkap)

andi budianto
andi budianto

In [58]:
# selain pakai + kita bisa concatenate string menggunakan f dan {} juga

nama_lengkap = f"{nama_depan} {nama_belakang}"
print(nama_lengkap)

andi budianto

In [49]:
# - tidak bisa

# * bisa, tapi dikalikan dengan integer
print(nama_depan * 5)

# / tidak bisa

# jadi untuk string kita bisa concatenate pakai + dan bisa duplicate dengan * integer

andiandiandiandiandi

In [51]:
# selain menggunakan operator matematik + dan *
# kita bisa ubah CASE text tersebut, jadi UPPERCASE lowercase Title Case

message = "hari ini belajar Python di tanggal 30 July!"

print(message.upper())
print(message.lower())
print(message.title()) # seperti Proper di Excel, huruf pertama dan huruf setelah spasi huruf besar untuk 1 huruf, sisanya huruf kecil

HARI INI BELAJAR PYTHON DI TANGGAL 30 JULY!
hari ini belajar python di tanggal 30 july!
Hari Ini Belajar Python Di Tanggal 30 July!

biasanya untuk membandingkan text, kita mau menyamakan case nya jadi kita pakai antara upper atau lower

In [54]:
a = "Apple"
b = "banana"

print(a.lower() < b.lower())

True

In [57]:
print(a.lower() == "apple")

True

List bisa menyimpan banyak data di satu variable, di satu tempat.

Untuk menyimpan datanya kita gunakan [] dan setiap data kita pisah dengan , di dalam [] tersebut.

In [60]:
# list isinya 3 string
buah_buahan = ["apple", "banana", "cucumber"]
print(buah_buahan)
print(type(buah_buahan))

['apple', 'banana', 'cucumber']
<class 'list'>

In [61]:
# list isinya integer, float, dan lainnya
list_campur = [123, -6.03, True, "hello world"]
print(list_campur)

[123, -6.03, True, 'hello world']

kalau kita mau ambil 1 data di sebuah list, kita gunakan angka urutan atau dipanggil "index"

index ini dimulai dari 0

jadi item pertama di sebuah list memiliki index 0

item terakhir di sebuah list memiliki index -1


kita bisa hitung mau atau mundur

In [63]:
buah_buahan = ["apple", "banana", "cucumber", "watermelon", "duku", "coconut"]

print(buah_buahan[0])
print(buah_buahan[-6])

apple
apple

In [64]:
len(buah_buahan)

6

In [65]:
print(buah_buahan[-1])
print(buah_buahan[len(buah_buahan)-1])

coconut
coconut

kita bisa ambil lebih dari 1 data sekaligus dari sebuah list

kita pakai index : index

In [66]:
buah_buahan[0:3]

['apple', 'banana', 'cucumber']

In [67]:
buah_buahan[:3]

['apple', 'banana', 'cucumber']

In [68]:
buah_buahan[1:]

['banana', 'cucumber', 'watermelon', 'duku', 'coconut']

In [69]:
buah_buahan[1:6]

['banana', 'cucumber', 'watermelon', 'duku', 'coconut']

selain untuk ambil data, index juga kita gunakan untuk re-assign value ke item dalam list

In [70]:
# misalnya kita mau ubah apple menjadi anggur

buah_buahan[0] = "anggur"

print(buah_buahan)

['anggur', 'banana', 'cucumber', 'watermelon', 'duku', 'coconut']

In [71]:
buah_buahan[0:3] = ["grape", "strawberry", "blueberry"]

In [72]:
print(buah_buahan)

['grape', 'strawberry', 'blueberry', 'watermelon', 'duku', 'coconut']

In [73]:
buah_buahan[0:3] = ["grape", "strawberry"]

In [74]:
print(buah_buahan)

['grape', 'strawberry', 'watermelon', 'duku', 'coconut']

berikutnya kita bahas tuple

tuple mirip dengan list, tapi tidak bisa kita ubah ubah isinya sebebas list

cara buat tuple menggunakan ()

In [76]:
tuple_fruits = ("apple", "banana", "coconut")

print(tuple_fruits)
print(type(tuple_fruits))

('apple', 'banana', 'coconut')
<class 'tuple'>

In [77]:
tuple_fruits[0] = "watermelon"

TypeError: 'tuple' object does not support item assignment

kita bisa ubah tuple jadi list dulu, ubah item nya, baru ubah balik jadi list

In [78]:
tuple_fruits = list(tuple_fruits)
tuple_fruits[0] = "watermelon"
tuple_fruits = tuple(tuple_fruits)

print(tuple_fruits)
print(type(tuple_fruits))

('watermelon', 'banana', 'coconut')
<class 'tuple'>

terakhir kita bahas Dictionary

Dictionary adalah kamus, jadi kita pakai keyword untuk cari value di dalam sebuah dictionary

cara tulisnya menggunakan {}

isi setiap item di dalamnya perlu key:value pair

tidak pakai index integer lagi, pakainya key string

In [79]:
andi = {
    "nama": "andi budianto",
    "umur": 23,
    "kacamata": True,
}

print(andi)
print(type(andi))

{'nama': 'andi budianto', 'umur': 23, 'kacamata': True}
<class 'dict'>

In [80]:
andi = { "nama": "andi budianto", "umur": 23, "kacamata": True,}

In [81]:
# untuk nambahin key:value pair kita bisa langsung assign key value ke dictionary nya
andi["nilai"] = 80

print(andi)

{'nama': 'andi budianto', 'umur': 23, 'kacamata': True, 'nilai': 80}

In [82]:
# untuk menghapus kita bisa pakai keyword del
del andi["nilai"]

print(andi)

{'nama': 'andi budianto', 'umur': 23, 'kacamata': True}

In [83]:
# tapi tidak di rekomen
# lebih umum kita set ke value yang kosong

# soft delete, masih ada keyword nya tapi value nya kita ubah menjadi default value
andi["andi"] = -1

# latihan pendek
1. cobalah membuat tipe data list yang isinya aktifitas favorit anda
2. coba tambah di list tersebut 1 aktifitas lagi *
3. buat sebuah dictionary yang mendeskripsikan mobil, ada merk, warna, harga, punya spoiler/ tidak, dan list fitur fitur *
4. coba ambil fiture pertama di dalam dictionary tersebut *

bahas:
- nested list
- nested dictionary

In [84]:
h = ['cycling', 'cooking', 'reading', 'travelling']
print(h)

h = h + ['soccer', 'basketball']
print(h)

print(h * 3)

['cycling', 'cooking', 'reading', 'travelling']
['cycling', 'cooking', 'reading', 'travelling', 'soccer', 'basketball']
['cycling', 'cooking', 'reading', 'travelling', 'soccer', 'basketball', 'cycling', 'cooking', 'reading', 'travelling', 'soccer', 'basketball', 'cycling', 'cooking', 'reading', 'travelling', 'soccer', 'basketball']

In [86]:
car = {'brand':'BMW','colour':'white','price':'50000','spoiler':'yes','features':['auto_drive','manual']}
print(car)

{'brand': 'BMW', 'colour': 'white', 'price': '50000', 'spoiler': 'yes', 'features': ['auto_drive', 'manual']}

In [87]:
car['features']

['auto_drive', 'manual']

In [88]:
a = car['features']
a[0]

'auto_drive'

In [89]:
# car, sebuah dictionary, kita ambil value dari key 'features'
# isinya adalah sebuah list yang kita ambil index 0 nya
car['features'][0]

'auto_drive'

nested list

list dalam list

misalnya kita simpan stok jualan sepatu dalam sebuah list. setiap sepatu kita simpan nama, harga, dan stoknya dalam bentuk list juga. jadinya ada list dalam list

In [90]:
# sepatu ["nike", 1250000, 3]
# banyak sepatu yang kita simpan semua dalam list juga

stok_sepatu = [["nike", 1250000, 3], ["adidas", 1270000, 9], ["skechers", 950000, 12]]
stok_sepatu

[['nike', 1250000, 3], ['adidas', 1270000, 9], ['skechers', 950000, 12]]

In [91]:
print(type(stok_sepatu))

<class 'list'>

In [92]:
stok_sepatu[0]

['nike', 1250000, 3]

In [93]:
# berapa harga sepatu pertama kita?
stok_sepatu[0][1]

1250000

In [95]:
# sebenarnya untuk list dalemnya baiknya pakai dictionary,
# karena dia bukan punya urutan, dia punya keyword merk harga qty

stok_sepatu = [
    {"merk":"nike", "harga":1250000, "qty":3},
    {"merk":"adidas", "harga":1270000, "qty":9},
    {"merk":"skechers", "harga":950000, "qty":12}
]


print(stok_sepatu)

[{'merk': 'nike', 'harga': 1250000, 'qty': 3}, {'merk': 'adidas', 'harga': 1270000, 'qty': 9}, {'merk': 'skechers', 'harga': 950000, 'qty': 12}]

In [97]:
stok_sepatu[0]['harga']

1250000

In [98]:
# nested dictionary

print(andi)

{'nama': 'andi budianto', 'umur': 23, 'kacamata': True, 'andi': -1}

In [99]:
andi["car"] = car

print(andi)

{'nama': 'andi budianto', 'umur': 23, 'kacamata': True, 'andi': -1, 'car': {'brand': 'BMW', 'colour': 'white', 'price': '50000', 'spoiler': 'yes', 'features': ['auto_drive', 'manual']}}

In [100]:
andi = {
    'nama': 'andi budianto',
    'umur': 23,
    'kacamata': True,
    'nilai': -1,
    'car': {
        'brand': 'BMW',
        'colour': 'white',
        'price': 50000.0,
        'spoiler': True,
        'features': ['auto_drive', 'manual']
        }
  }

In [101]:
# apa warna mobilnya andi?
andi['car']['colour']

'white'

# Latihan tambahan
1. buatlah sebuah data tipe tuple berisi beberapa angka random
2. buatlah sebuah list menggunakan tuple tadi, tapi semua angkanya di kalikan 10
3. buatlah sebuah string panjang menjelaskan apa itu string di sebuah variable
4. ubah menjadi title case
5. tambahkan "OK" di belakangnya

In [3]:
l = (4, 8, 23, 777, 32, 901)
print(l)

print(l*10)

m = "those are lottery results from last week"
print(m)

print(m.title())

m = m + "ok"
print(m)

(4, 8, 23, 777, 32, 901)
(4, 8, 23, 777, 32, 901, 4, 8, 23, 777, 32, 901, 4, 8, 23, 777, 32, 901, 4, 8, 23, 777, 32, 901, 4, 8, 23, 777, 32, 901, 4, 8, 23, 777, 32, 901, 4, 8, 23, 777, 32, 901, 4, 8, 23, 777, 32, 901, 4, 8, 23, 777, 32, 901, 4, 8, 23, 777, 32, 901)
those are lottery results from last week
Those Are Lottery Results From Last Week
those are lottery results from last weekok