# Data Preparation and Cleaning

In [40]:
import numpy as np
import pandas as pd

In [8]:
df_car = pd.read_csv("dataset/BMW_Car_Sales_Classification.csv")

df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

### Duplicated data

In [4]:
df_car.duplicated().sum()

0

In [7]:
# kalau ada, kita bisa hapus dengan mudah
df_car2 = df_car.drop_duplicates()

df_car2.info()  # data tanpa duplikat

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [14]:
# cek duplikat di beberapa kolom saja, bukan semua kolom

df_car.duplicated(subset=["Model", 'Year', 'Region']).sum()

49010

In [12]:
df_car['Model'].nunique()

11

### Missing values

In [15]:
df_mcd = pd.read_csv("dataset/mcdonalds_dataset.csv")

df_mcd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16671 entries, 0 to 16670
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lat           16671 non-null  float64
 1   lon           16671 non-null  float64
 2   alt           16671 non-null  int64
 3   is_broken     16671 non-null  bool
 4   is_active     16671 non-null  bool
 5   dot           16671 non-null  object
 6   state         12725 non-null  object
 7   city          16663 non-null  object
 8   street        16671 non-null  object
 9   country       16671 non-null  object
 10  last_checked  16671 non-null  object
dtypes: bool(2), float64(2), int64(1), object(6)
memory usage: 1.2+ MB

In [16]:
df_mcd.isnull().sum()

lat                0
lon                0
alt                0
is_broken          0
is_active          0
dot                0
state           3946
city               8
street             0
country            0
last_checked       0
dtype: int64

In [19]:
df_mcd['state'].unique()

array(['NY', 'NJ', 'CT', 'PA', 'DE', 'MA', 'MD', 'RI', 'VT', 'NH', 'DC',
       'VA', 'WV', 'ME', 'NC', 'OH', 'MI', 'KY', 'TN', 'SC', 'IN',
       'Maharastra', 'GA', 'IL', 'WI', 'AL', 'FL', 'IA', 'MO', 'MS', 'AR',
       'MN', 'KS', 'LA', 'NE', 'OK', 'SD', 'ND', 'TX', 'CO', 'MT', 'WY',
       'NM', 'UT', 'AZ', 'ID', 'NV', 'WA', 'OR', 'CA', 'AK', 'HI', nan],
      dtype=object)

In [17]:
df_mcd[df_mcd['state'].isnull()]

,lat,lon,alt,is_broken,is_active,dot,state,city,street,country,last_checked
12725,-79.381000,43.654620,0,False,True,working,NaN,Toronto,"(Food Court) Urban Eatery, 260 Yonge Street, U...",CA,Checked 11 minutes ago
12726,-79.378450,43.650890,0,False,True,working,NaN,Toronto,123 Yonge St,CA,Checked 11 minutes ago
12727,-79.381900,43.658210,0,False,True,working,NaN,Toronto,356 Yonge Street,CA,Checked 11 minutes ago
12728,-79.375520,43.653110,0,False,True,working,NaN,Toronto,127 Church Street,CA,Checked 11 minutes ago
12729,-79.378570,43.647080,0,False,True,working,NaN,Toronto,"(Food Court) 181 Bay St, P.O. Box 112",CA,Checked 11 minutes ago
...,...,...,...,...,...,...,...,...,...,...,...
16666,13.475643,52.514265,0,False,False,inactive,NaN,Berlin,Frankfurter Allee 117,DE,Checked 31 minutes ago
16667,13.429812,54.076239,0,False,False,inactive,NaN,Greifswald,Anklamer Landstr. 1,DE,Checked 31 minutes ago
16668,8.787059,53.100934,0,False,False,inactive,NaN,Bremen,Waller Heerstr. 101,DE,Checked 31 minutes ago
16669,11.409059,53.628227,0,False,False,inactive,NaN,Schwerin,Marienplatz 5-7,DE,Checked 31 minutes ago
16670,11.405999,53.903701,0,False,False,inactive,NaN,Wismar,Zierower Landstr. 3,DE,Checked 31 minutes ago

In [ ]:
# untuk toronto kita isi statenya Ontario
df_mcd.loc[df_mcd['city'] == 'Toronto', 'state'] = df_mcd.loc[(
    df_mcd['city'] == 'Toronto', 'state')].fillna('Ontario')

df_mcd.isnull().sum()

lat                0
lon                0
alt                0
is_broken          0
is_active          0
dot                0
state           3901
city               8
street             0
country            0
last_checked       0
dtype: int64

kita gunakan.loc untuk ambil baris2 tertentu di kolom tertentu

```python
df_mcd.loc[df_mcd['city'] == 'Toronto', 'state']
```

disini khusus baris yang city adalah 'Toronto' dan kolom 'state'

setelah itu, kita gunakan .fillna() untuk isi yang value nya missing dengan 'Ontario'

```python
df_mcd.loc[(df_mcd['city'] == 'Toronto', 'state')].fillna('Ontario')
```

terakhir kita assign ke diri sendiri hingga hasil fillna tersimpan

In [99]:
df = pd.DataFrame({
    "name": ["a", "b", "c", "d"],
    "score": [50, np.nan, 80, np.nan]
})

df

  name  score
0    a   50.0
1    b    NaN
2    c   80.0
3    d    NaN

In [102]:
df.loc[df['name'] == "b", 'score'] = df.loc[df['name']
                                            == "b", 'score'].fillna(50)

In [103]:
df

  name  score
0    a   50.0
1    b   50.0
2    c   80.0
3    d    NaN

### Delete missing values

dropna

In [52]:
df_new = df.dropna()

df_new

  name  score
0    a   50.0
2    c   80.0

In [51]:
df

  name  score
0    a   50.0
1    b    NaN
2    c   80.0
3    d    NaN

### Tipe data di Pandas DataFrame

- obj (text)
- category (text tapi beberapa jenis saja)
- int, float (numerik)
- datetime (tanggal dan jam)
- timedelta (jumlah waktu)
- bool (True False)

In [53]:
df_academic = pd.read_csv('dataset/academicStress.csv')

df_academic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 9 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            121 non-null    object
 1   Your Academic Stage                                                  121 non-null    object
 2   Peer pressure                                                        121 non-null    int64
 3   Academic pressure from your home                                     121 non-null    int64
 4   Study Environment                                                    121 non-null    object
 5   What coping strategy you use as a student?                           121 non-null    object
 6   Do you have any bad habits like smoking, drinking on a daily basis?  121 non-null    object
 7   What would you rate the academic  competition in your student life   121 non-null    int64
 8   Rate your academic stress index                                      121 non-null    int64
dtypes: int64(4), object(5)
memory usage: 8.6+ KB

In [58]:
# contoh, timestamp kita ubah jadi tipe datetime

df_academic['Timestamp'] = df_academic['Timestamp'].astype('datetime64[ns]')

C:\Users\user\AppData\Local\Temp\ipykernel_5364\1603654832.py:3: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_academic['Timestamp'] = df_academic['Timestamp'].astype('datetime64[ns]')

In [59]:
df_academic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 9 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            121 non-null    datetime64[ns]
 1   Your Academic Stage                                                  121 non-null    object
 2   Peer pressure                                                        121 non-null    int64
 3   Academic pressure from your home                                     121 non-null    int64
 4   Study Environment                                                    121 non-null    object
 5   What coping strategy you use as a student?                           121 non-null    object
 6   Do you have any bad habits like smoking, drinking on a daily basis?  121 non-null    object
 7   What would you rate the academic  competition in your student life   121 non-null    int64
 8   Rate your academic stress index                                      121 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 8.6+ KB

In [63]:
# untuk data yang isinya ada beberapa jenis, kita bisa ubah ke tipe data category
academic_stages = list(df_academic['Your Academic Stage'].unique())
academic_stages

['undergraduate', 'high school', 'post-graduate']

In [65]:
df_academic['Your Academic Stage'] = df_academic['Your Academic Stage'].astype(
    'category')

In [66]:
df_academic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 9 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            121 non-null    datetime64[ns]
 1   Your Academic Stage                                                  121 non-null    category
 2   Peer pressure                                                        121 non-null    int64
 3   Academic pressure from your home                                     121 non-null    int64
 4   Study Environment                                                    121 non-null    object
 5   What coping strategy you use as a student?                           121 non-null    object
 6   Do you have any bad habits like smoking, drinking on a daily basis?  121 non-null    object
 7   What would you rate the academic  competition in your student life   121 non-null    int64
 8   Rate your academic stress index                                      121 non-null    int64
dtypes: category(1), datetime64[ns](1), int64(4), object(3)
memory usage: 7.9+ KB

In [68]:
df_academic['Your Academic Stage'].cat.codes

0      2
1      2
2      2
3      2
4      2
      ..
116    0
117    2
118    0
119    0
120    2
Length: 121, dtype: int8

In [69]:
df

  name  score
0    a   50.0
1    b    NaN
2    c   80.0
3    d    NaN

In [70]:
# build new column dengan category

df['grade'] = pd.Categorical(
    ["Pass", "Fail", "Pass", "Pass"], categories=["Pass", "Fail"])

df

  name  score grade
0    a   50.0  Pass
1    b    NaN  Fail
2    c   80.0  Pass
3    d    NaN  Pass

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   score   2 non-null      float64
 2   grade   4 non-null      category
dtypes: category(1), float64(1), object(1)
memory usage: 324.0+ bytes

### Data tipe text

- hapus spasi berlebih dengan .str.strip()
- ubah case CASE .lower() .upper() .title()
- replace sebagian text .replace()
- split text dari pemisah tertentu .split()

In [72]:
df_obat = pd.read_csv("dataset/realistic_drug_labels_side_effects.csv")

df_obat.head()

,drug_name,manufacturer,approval_year,drug_class,indications,side_effects,dosage_mg,administration_route,contraindications,warnings,price_usd,batch_number,expiry_date,side_effect_severity,approval_status
0,Seroxetine50,AstraZeneca,1996,Antidepressant,Allergy relief,"Fatigue, Nausea",260,Rectal,Bleeding disorders,Avoid alcohol,192.43,MV388Pl,2026-11-29,Mild,Pending
1,Mecoparin93,AstraZeneca,2018,Vaccine,Allergy relief,Nausea,470,Inhalation,Allergic reaction,Take with food,397.82,UR279ZN,2027-07-14,Mild,Approved
2,Daxozole89,Merck & Co.,1997,Antipsychotic,Allergy relief,"Diarrhea, Blurred vision, Dizziness",330,Sublingual,High blood pressure,Take with food,131.69,we040kH,2028-06-02,Moderate,Pending
3,Viracillin84,Roche Holding AG,2004,Antifungal,Inflammation reduction,"Fatigue, Dry mouth",450,Oral,Kidney impairment,Do not operate machinery,372.82,hO060rh,2026-07-07,Mild,Rejected
4,Amoxstatin62,Pfizer Inc.,2003,Antidepressant,Psychosis control,"Insomnia, Dry mouth, Fatigue",430,Topical,Bleeding disorders,Do not operate machinery,281.48,Fa621Sw,2027-12-28,Moderate,Pending

In [74]:
df_obat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   drug_name             1436 non-null   object
 1   manufacturer          1436 non-null   object
 2   approval_year         1436 non-null   int64
 3   drug_class            1436 non-null   object
 4   indications           1436 non-null   object
 5   side_effects          1436 non-null   object
 6   dosage_mg             1436 non-null   int64
 7   administration_route  1436 non-null   object
 8   contraindications     1436 non-null   object
 9   warnings              1436 non-null   object
 10  price_usd             1436 non-null   float64
 11  batch_number          1436 non-null   object
 12  expiry_date           1436 non-null   object
 13  side_effect_severity  1436 non-null   object
 14  approval_status       1436 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 168.4+ KB

In [76]:
# hapus spasi berlebih di depan dan belakang text
df_obat['warnings'] = df_obat['warnings'].str.strip()

df_obat['warnings']

0                     Avoid alcohol
1                    Take with food
2                    Take with food
3          Do not operate machinery
4          Do not operate machinery
                   ...
1431           May affect fertility
1432           May affect fertility
1433       Do not operate machinery
1434           May cause drowsiness
1435    Do not discontinue abruptly
Name: warnings, Length: 1436, dtype: object

In [77]:
# ubah case, misalnya side effects jadi CAPS
df_obat['side_effects'] = df_obat['side_effects'].str.upper()

df_obat.head()

,drug_name,manufacturer,approval_year,drug_class,indications,side_effects,dosage_mg,administration_route,contraindications,warnings,price_usd,batch_number,expiry_date,side_effect_severity,approval_status
0,Seroxetine50,AstraZeneca,1996,Antidepressant,Allergy relief,"FATIGUE, NAUSEA",260,Rectal,Bleeding disorders,Avoid alcohol,192.43,MV388Pl,2026-11-29,Mild,Pending
1,Mecoparin93,AstraZeneca,2018,Vaccine,Allergy relief,NAUSEA,470,Inhalation,Allergic reaction,Take with food,397.82,UR279ZN,2027-07-14,Mild,Approved
2,Daxozole89,Merck & Co.,1997,Antipsychotic,Allergy relief,"DIARRHEA, BLURRED VISION, DIZZINESS",330,Sublingual,High blood pressure,Take with food,131.69,we040kH,2028-06-02,Moderate,Pending
3,Viracillin84,Roche Holding AG,2004,Antifungal,Inflammation reduction,"FATIGUE, DRY MOUTH",450,Oral,Kidney impairment,Do not operate machinery,372.82,hO060rh,2026-07-07,Mild,Rejected
4,Amoxstatin62,Pfizer Inc.,2003,Antidepressant,Psychosis control,"INSOMNIA, DRY MOUTH, FATIGUE",430,Topical,Bleeding disorders,Do not operate machinery,281.48,Fa621Sw,2027-12-28,Moderate,Pending

In [79]:
# kita bisa replace sebagian text dengan .replace()
# misalnya, "Anti" kita ubah jadi "A*"

df_obat['drug_class'] = df_obat['drug_class'].str.replace("Anti", "A*")

df_obat.head()

,drug_name,manufacturer,approval_year,drug_class,indications,side_effects,dosage_mg,administration_route,contraindications,warnings,price_usd,batch_number,expiry_date,side_effect_severity,approval_status
0,Seroxetine50,AstraZeneca,1996,A*depressant,Allergy relief,"FATIGUE, NAUSEA",260,Rectal,Bleeding disorders,Avoid alcohol,192.43,MV388Pl,2026-11-29,Mild,Pending
1,Mecoparin93,AstraZeneca,2018,Vaccine,Allergy relief,NAUSEA,470,Inhalation,Allergic reaction,Take with food,397.82,UR279ZN,2027-07-14,Mild,Approved
2,Daxozole89,Merck & Co.,1997,A*psychotic,Allergy relief,"DIARRHEA, BLURRED VISION, DIZZINESS",330,Sublingual,High blood pressure,Take with food,131.69,we040kH,2028-06-02,Moderate,Pending
3,Viracillin84,Roche Holding AG,2004,A*fungal,Inflammation reduction,"FATIGUE, DRY MOUTH",450,Oral,Kidney impairment,Do not operate machinery,372.82,hO060rh,2026-07-07,Mild,Rejected
4,Amoxstatin62,Pfizer Inc.,2003,A*depressant,Psychosis control,"INSOMNIA, DRY MOUTH, FATIGUE",430,Topical,Bleeding disorders,Do not operate machinery,281.48,Fa621Sw,2027-12-28,Moderate,Pending

In [82]:
# kita coba split()
# kita pisahkan data side_effects menjadi satu satu

df_obat['side_effects'].str.split(", ")

0                           [FATIGUE, NAUSEA]
1                                    [NAUSEA]
2       [DIARRHEA, BLURRED VISION, DIZZINESS]
3                        [FATIGUE, DRY MOUTH]
4              [INSOMNIA, DRY MOUTH, FATIGUE]
                        ...
1431                              [DRY MOUTH]
1432              [NAUSEA, FATIGUE, HEADACHE]
1433                    [INSOMNIA, DIZZINESS]
1434                               [HEADACHE]
1435           [NAUSEA, DRY MOUTH, DIZZINESS]
Name: side_effects, Length: 1436, dtype: object

### Datetime

selain untuk merapikan tipe data jadi tanggal dan waktu, kita bisa:

- extract component tanggal dan waktu
- ubah format tanggal dan waktu

In [83]:
df_academic.head()

,Timestamp,Your Academic Stage,Peer pressure,Academic pressure from your home,Study Environment,What coping strategy you use as a student?,"Do you have any bad habits like smoking, drinking on a daily basis?",What would you rate the academic competition in your student life,Rate your academic stress index
0,2025-07-24 22:05:39,undergraduate,4,5,Noisy,Analyze the situation and handle it with intel...,No,3,5
1,2025-07-24 22:05:52,undergraduate,3,4,Peaceful,Analyze the situation and handle it with intel...,No,3,3
2,2025-07-24 22:06:39,undergraduate,1,1,Peaceful,"Social support (friends, family)",No,2,4
3,2025-07-24 22:06:45,undergraduate,3,2,Peaceful,Analyze the situation and handle it with intel...,No,4,3
4,2025-07-24 22:08:06,undergraduate,3,3,Peaceful,Analyze the situation and handle it with intel...,No,4,5

In [84]:
# extract tahun ke kolom baru
df_academic['year'] = df_academic['Timestamp'].dt.year

df_academic.head()

,Timestamp,Your Academic Stage,Peer pressure,Academic pressure from your home,Study Environment,What coping strategy you use as a student?,"Do you have any bad habits like smoking, drinking on a daily basis?",What would you rate the academic competition in your student life,Rate your academic stress index,year
0,2025-07-24 22:05:39,undergraduate,4,5,Noisy,Analyze the situation and handle it with intel...,No,3,5,2025
1,2025-07-24 22:05:52,undergraduate,3,4,Peaceful,Analyze the situation and handle it with intel...,No,3,3,2025
2,2025-07-24 22:06:39,undergraduate,1,1,Peaceful,"Social support (friends, family)",No,2,4,2025
3,2025-07-24 22:06:45,undergraduate,3,2,Peaceful,Analyze the situation and handle it with intel...,No,4,3,2025
4,2025-07-24 22:08:06,undergraduate,3,3,Peaceful,Analyze the situation and handle it with intel...,No,4,5,2025

In [91]:
df_academic['year'] = df_academic['Timestamp'].dt.year
df_academic['month'] = df_academic['Timestamp'].dt.month
df_academic['day'] = df_academic['Timestamp'].dt.day  # tanggal

# 0 - sunday, 1 - monday, ...
df_academic['weekday'] = df_academic['Timestamp'].dt.weekday
df_academic['hour'] = df_academic['Timestamp'].dt.hour

df_academic.head(3)

,Timestamp,Your Academic Stage,Peer pressure,Academic pressure from your home,Study Environment,What coping strategy you use as a student?,"Do you have any bad habits like smoking, drinking on a daily basis?",What would you rate the academic competition in your student life,Rate your academic stress index,year,month,date,day,hour,weekday
0,2025-07-24 22:05:39,undergraduate,4,5,Noisy,Analyze the situation and handle it with intel...,No,3,5,2025,7,2025-07-24,24,22,3
1,2025-07-24 22:05:52,undergraduate,3,4,Peaceful,Analyze the situation and handle it with intel...,No,3,3,2025,7,2025-07-24,24,22,3
2,2025-07-24 22:06:39,undergraduate,1,1,Peaceful,"Social support (friends, family)",No,2,4,2025,7,2025-07-24,24,22,3

In [93]:
df_academic['Timestamp'].dt.strftime("%A, %d-%b-%y")

0       Thursday, 24-Jul-25
1       Thursday, 24-Jul-25
2       Thursday, 24-Jul-25
3       Thursday, 24-Jul-25
4       Thursday, 24-Jul-25
               ...
116     Saturday, 26-Jul-25
117       Sunday, 27-Jul-25
118       Sunday, 27-Jul-25
119    Wednesday, 30-Jul-25
120    Wednesday, 30-Jul-25
Name: Timestamp, Length: 121, dtype: object

tipe data datetime juga memungkinkan kita filter data menggunakan komponen waktu

misalnya, ambil data khusus hari kamis

In [95]:
kon_kamis = df_academic['Timestamp'].dt.weekday == 4

df_academic[kon_kamis].info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 65 to 91
Data columns (total 15 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            27 non-null     datetime64[ns]
 1   Your Academic Stage                                                  27 non-null     category
 2   Peer pressure                                                        27 non-null     int64
 3   Academic pressure from your home                                     27 non-null     int64
 4   Study Environment                                                    27 non-null     object
 5   What coping strategy you use as a student?                           27 non-null     object
 6   Do you have any bad habits like smoking, drinking on a daily basis?  27 non-null     object
 7   What would you rate the academic  competition in your student life   27 non-null     int64
 8   Rate your academic stress index                                      27 non-null     int64
 9   year                                                                 27 non-null     int32
 10  month                                                                27 non-null     int32
 11  date                                                                 27 non-null     object
 12  day                                                                  27 non-null     int32
 13  hour                                                                 27 non-null     int32
 14  weekday                                                              27 non-null     int32
dtypes: category(1), datetime64[ns](1), int32(5), int64(4), object(4)
memory usage: 2.8+ KB

## Latihan

1. Cek duplicate values
2. Handle Missing values (di drop atau di fill)
3. Merapikan tipe data
4. Mencoba mem-format tanggal

Untuk dataset movies, kita coba step 1-3 https://www.kaggle.com/datasets/bharatnatrayn/movies-dataset-for-feature-extracion-prediction?select=movies.csv

kita rapikan datanya dengan tujuan menaikkan kualitas dataset ini

In [ ]:

import numpy as np
import pandas as pd
df_movies = pd.read_csv("dataset\movies.csv")

df_movies

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [3]:
df_movies.duplicated().sum()

np.int64(431)

In [5]:
df_movies.drop_duplicates()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9993,Totenfrau,(2022– ),"\nDrama, Thriller",NaN,\nAdd a Plot\n,\n Director:\nNicolai Rohde\n| \n Stars:...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [ ]:
# check missing values
df_movies.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [7]:
df_movies[df_movies['YEAR'].isnull()]

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
878,Vikings: Valhalla,NaN,"\nAction, Adventure, Drama",NaN,\nFollow-up series to 'Vikings' set 100 years ...,"\n \n Stars:\nLaura Berlin, \nSa...",NaN,NaN,NaN
1375,Resident Evil,NaN,"\nAction, Horror, Sci-Fi",NaN,\nNearly three decades after the discovery of ...,"\n \n Stars:\nLance Reddick, \nS...",NaN,NaN,NaN
1414,Bright 2,NaN,"\nAction, Adventure, Crime",NaN,\nPlot unknown. Sequel to the 2017 film 'Bright.',"\n \n Stars:\nWill Smith, \nJoel...",NaN,NaN,NaN
1419,Avatar: The Last Airbender,NaN,"\nAction, Adventure, Fantasy",NaN,\nLive-action adaptation of the animated serie...,\n,NaN,NaN,NaN
1425,Home Team,NaN,"\nComedy, Sport",NaN,\nThe story about New Orleans Saints head coac...,"\n Directors:\nCharles Francis Kinnane, \nD...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9909,Pretty Smart,NaN,\nComedy,NaN,\nAdd a Plot\n,"\n \n Stars:\nCinthya Carmona, \...",NaN,NaN,NaN
9910,Pretty Smart,NaN,\nComedy,NaN,\nAdd a Plot\n,\n Director:\nJody Margolin Hahn\n| \n S...,NaN,NaN,NaN
9911,Pretty Smart,NaN,\nComedy,NaN,\nAdd a Plot\n,\n Director:\nJody Margolin Hahn\n| \n S...,NaN,NaN,NaN
9912,Pretty Smart,NaN,\nComedy,NaN,\nAdd a Plot\n,"\n \n Stars:\nCinthya Carmona, \...",NaN,NaN,NaN
9913,Pretty Smart,NaN,\nComedy,NaN,\nAdd a Plot\n,"\n \n Stars:\nCinthya Carmona, \...",NaN,NaN,NaN

In [10]:
df_movies['GENRE'].unique()

array(['\nAction, Horror, Thriller            ',
       '\nAnimation, Action, Adventure            ',
       '\nDrama, Horror, Thriller            ',
       '\nAnimation, Adventure, Comedy            ',
       '\nAction, Crime, Horror            ',
       '\nAction, Crime, Drama            ',
       '\nDrama, Romance            ',
       '\nCrime, Drama, Mystery            ', '\nComedy            ',
       '\nAction, Adventure, Thriller            ',
       '\nCrime, Drama, Fantasy            ',
       '\nDrama, Horror, Mystery            ',
       '\nComedy, Drama, Romance            ',
       '\nCrime, Drama, Thriller            ', '\nDrama            ',
       '\nComedy, Drama            ',
       '\nDrama, Fantasy, Horror            ',
       '\nComedy, Romance            ',
       '\nAction, Adventure, Drama            ',
       '\nCrime, Drama            ',
       '\nDrama, History, Romance            ',
       '\nHorror, Mystery            ', '\nComedy, Crime            ',
       '\nAction, Drama, History            ',
       '\nAction, Adventure, Crime            ',
       '\nAction, Adventure, Fantasy            ',
       '\nAction, Crime, Mystery            ',
       '\nDrama, Fantasy, Romance            ',
       '\nDrama, Sci-Fi, Thriller            ',
       '\nBiography, Drama, History            ',
       '\nCrime, Thriller            ',
       '\nComedy, Crime, Drama            ',
       '\nDrama, Mystery, Thriller            ',
       '\nAction, Adventure, Mystery            ',
       '\nAction, Comedy            ',
       '\nCrime, Drama, Horror            ',
       '\nDrama, Mystery, Sci-Fi            ',
       '\nAction, Comedy, Crime            ',
       '\nDrama, Family            ',
       '\nAction, Adventure, Sci-Fi            ',
       '\nAnimation, Comedy            ',
       '\nAction, Comedy, Drama            ',
       '\nCrime, Horror, Thriller            ',
       '\nAction, Adventure, Comedy            ',
       '\nAnimation, Comedy, Drama            ',
       '\nAdventure, Fantasy, Romance            ',
       '\nAction, Drama, Fantasy            ',
       '\nAction, Adventure, Biography            ',
       '\nComedy, Drama, Fantasy            ',
       '\nAction, Adventure, Horror            ',
       '\nCrime, Drama, Romance            ',
       '\nAdventure, Thriller            ',
       '\nBiography, Crime, Drama            ',
       '\nDocumentary, Crime, Mystery            ',
       '\nAction, Drama, Horror            ',
       '\nAction, Adventure            ',
       '\nAnimation, Action, Fantasy            ',
       '\nComedy, Drama, Music            ',
       '\nAction, Crime, Sport            ',
       '\nAction, Drama            ', '\nHorror            ',
       '\nDrama, Mystery, Romance            ',
       '\nAnimation, Action, Comedy            ',
       '\nAnimation, Short, Comedy            ', '\nThriller            ',
       '\nAdventure, Fantasy            ',
       '\nAction, Drama, Sci-Fi            ',
       '\nGame-Show, Reality-TV, Romance            ',
       '\nComedy, Crime, Thriller            ',
       '\nDrama, Sci-Fi            ', '\nMusical, Romance            ',
       '\nDocumentary            ',
       '\nAction, Drama, Mystery            ',
       '\nAction, Thriller            ',
       '\nAnimation, Crime, Drama            ',
       '\nAdventure, Drama            ',
       '\nMystery, Thriller            ',
       '\nReality-TV, Romance            ',
       '\nAnimation, Adventure, Family            ',
       '\nAnimation, Action, Horror            ',
       '\nDrama, Fantasy            ', '\nDrama, Thriller            ',
       '\nReality-TV            ',
       '\nDocumentary, Biography, History            ',
       '\nAdventure, Sci-Fi            ',
       '\nAnimation, Drama, Romance            ',
       '\nAdventure, Comedy, Crime            ',
       '\nComedy, Fantasy, Romance            ',
       '\nAdventure, Drama, Family            ',
       '\nAction, Crime, Thriller            ',
       '\nBiography, Drama, Sport            ',
       '\nComedy, Family, Sci-Fi            ',
       '\nAnimation, Comedy, Romance            ',
       '\nAnimation, Drama, Fantasy            ',
       '\nDrama, Fantasy, Sci-Fi            ',
       '\nAdventure, Horror, Thriller            ',
       '\nAction, Comedy, War            ',
       '\nFamily, Fantasy, Musical            ',
       '\nHorror, Sci-Fi            ', '\nComedy, Horror            ',
       '\nAdventure, Drama, Horror            ',
       '\nDrama, Western            ',
       '\nDrama, History, Thriller            ',
       '\nComedy, Drama, Western            ',
       '\nDrama, Music, Romance            ',
       '\nHorror, Sci-Fi, Thriller            ',
       '\nBiography, Drama            ',
       '\nDrama, Romance, Western            ',
       '\nComedy, Crime, Romance            ',
       '\nComedy, Drama, Family            ',
       '\nDrama, Fantasy, Mystery            ',
       '\nAction, Sci-Fi, Thriller            ',
       '\nComedy, Drama, Sport            ',
       '\nCrime, Drama, History            ',
       '\nDrama, Family, Romance            ',
       '\nAdventure, Comedy, Drama            ',
       '\nGame-Show, Reality-TV            ',
       '\nDocumentary, Crime, History            ',
       '\nCrime, Mystery, Thriller            ',
       '\nComedy, Drama, Musical            ',
       '\nAdventure, Drama, History            ',
       '\nAdventure, Comedy, Reality-TV            ',
       '\nFamily, Fantasy, Mystery            ',
       '\nBiography, Comedy            ', '\nComedy, Music            ',
       '\nAdventure, Comedy, Romance            ',
       '\nComedy, Drama, Sci-Fi            ',
       '\nDrama, Horror, Music            ',
       '\nBiography, Comedy, Drama            ',
       '\nAction, Biography, Drama            ',
       '\nAdventure, Drama, Mystery            ',
       '\nComedy, Musical            ',
       '\nAnimation, Adventure, Drama            ',
       '\nComedy, Family            ',
       '\nAction, Horror, Sci-Fi            ',
       '\nDrama, Horror            ',
       '\nAction, Fantasy, Thriller            ',
       '\nDrama, Family, Fantasy            ',
       '\nAction, Crime, Fantasy            ',
       '\nAnimation, Action, Drama            ',
       '\nAction, Fantasy, Mystery            ',
       '\nAction, Comedy, Horror            ',
       '\nHorror, Mystery, Thriller            ',
       '\nAdventure, Drama, Fantasy            ',
       '\nAction, Comedy, Family            ',
       '\nDrama, History            ',
       '\nAction, Drama, Thriller            ',
       '\nAction, Mystery, Thriller            ',
       '\nShort, Family            ',
       '\nAdventure, Comedy, Fantasy            ',
       '\nComedy, Reality-TV            ',
       '\nHorror, Thriller            ',
       '\nComedy, Drama, Thriller            ',
       '\nAction, Adventure, Family            ',
       '\nCrime, Mystery, Sci-Fi            ',
       '\nAction, Comedy, Romance            ',
       '\nAdventure, Biography, Drama            ',
       '\nComedy, Sci-Fi            ',
       '\nDrama, Romance, War            ',
       '\nAnimation, Family, Fantasy            ',
       '\nAdventure, Fantasy, Sci-Fi            ',
       '\nCrime, Horror, Mystery            ',
       '\nDrama, Family, Sport            ',
       '\nAnimation, Action, Crime            ',
       '\nAnimation, Drama, Family            ',
       '\nDrama, Horror, Sci-Fi            ',
       '\nBiography, Drama, Romance            ',
       '\nAction, Horror, Mystery            ',
       '\nDrama, Family, Reality-TV            ',
       '\nComedy, Mystery            ',
       '\nAction, Romance, Thriller            ',
       '\nAction, Crime, Sci-Fi            ',
       '\nDrama, Music, Musical            ',
       '\nDocumentary, Sport            ', '\nComedy, Sport            ',
       '\nDocumentary, Biography, Drama            ',
       '\nComedy, Family, Romance            ',
       '\nBiography, Drama, Family            ',
       '\nAnimation, Drama, Music            ',
       '\nComedy, Family, Music            ',
       '\nAction, Comedy, Fantasy            ',
       '\nAdventure, Family, Fantasy            ',
       '\nAction, Crime            ',
       '\nAdventure, Drama, War            ', '\nSci-Fi            ',
       '\nDrama, History, Sport            ',
       '\nDrama, Music            ',
       '\nHorror, Mystery, Sci-Fi            ',
       '\nDrama, Mystery            ', '\nDrama, War            ',
       '\nDocumentary, Biography, Crime            ',
       '\nDocumentary, Biography, Sport            ',
       '\nDrama, History, War            ',
       '\nAnimation, Adventure, Fantasy            ',
       '\nAction, Western            ',
       '\nAdventure, Comedy, Family            ',
       '\nAction, Fantasy, Sci-Fi            ',
       '\nCrime, Drama, Sci-Fi            ',
       '\nComedy, Thriller            ',
       '\nAnimation, Comedy, Family            ',
       '\nMystery, Sci-Fi, Thriller            ',
       '\nCrime, Sci-Fi, Thriller            ',
       '\nAnimation, Adventure            ',
       '\nDocumentary, Crime            ',
       '\nBiography, Drama, Musical            ',
       '\nAction, Biography, Crime            ',
       '\nBiography, Drama, Music            ',
       '\nDrama, Family, Musical            ',
       '\nCrime, Drama, Music            ',
       '\nDocumentary, Drama            ',
       '\nAnimation, Drama, Mystery            ',
       '\nCrime, Mystery, Romance            ',
       '\nDrama, Romance, Sci-Fi            ',
       '\nFantasy, Mystery, Romance            ',
       '\nDrama, Fantasy, Thriller            ',
       '\nFamily, Fantasy, Horror            ',
       '\nComedy, Horror, Thriller            ',
       '\nAnimation, Biography, Drama            ',
       '\nDrama, Sport            ', '\nDrama, Thriller, War            ',
       '\nHorror, Music, Thriller            ',
       '\nComedy, Fantasy, Musical            ',
       '\nDocumentary, Drama, History            ',
       '\nDocumentary, Crime, Sport            ',
       '\nComedy, Drama, War            ',
       '\nAction, Drama, Sport            ',
       '\nComedy, Mystery, Romance            ',
       '\nDocumentary, Crime, Drama            ',
       '\nAction, Mystery, Sci-Fi            ', '\nGame-Show            ',
       '\nDocumentary, Adventure            ',
       '\nAction, Fantasy, Horror            ',
       '\nAction, Drama, War            ', '\nMusic            ',
       '\nCrime, Drama, Western            ',
       '\nAdventure, Drama, Thriller            ',
       '\nSci-Fi, Thriller            ',
       '\nFantasy, Horror, Romance            ',
       '\nDrama, Romance, Thriller            ',
       '\nCrime, Drama, Film-Noir            ',
       '\nCrime, History, Thriller            ',
       '\nDrama, History, Western            ',
       '\nFamily, Fantasy            ',
       '\nFantasy, Horror, Sci-Fi            ',
       '\nComedy, Crime, Mystery            ',
       '\nAdventure, Drama, Sci-Fi            ',
       '\nFantasy, Horror, Mystery            ',
       '\nAction, War            ',
       '\nDocumentary, Adventure, Drama            ',
       '\nComedy, Fantasy, Horror            ',
       '\nAnimation, Action            ',
       '\nShort, Drama, Sci-Fi            ',
       '\nShort, Drama, Romance            ',
       '\nDrama, History, Horror            ',
       '\nDocumentary, Drama, Mystery            ',
       '\nAnimation, Drama, Horror            ',
       '\nShort, Action, Comedy            ',
       '\nComedy, Family, Fantasy            ',
       '\nHorror, Reality-TV            ',
       '\nAdventure, Comedy, Mystery            ',
       '\nDocumentary, Biography, Comedy            ',
       '\nComedy, Fantasy            ',
       '\nAdventure, Romance            ',
       '\nAdventure, Family, Horror            ', '\nCrime            ',
       '\nAnimation, Comedy, Sport            ',
       '\nBiography, Crime            ',
       '\nAnimation, Adventure, Horror            ',
       '\nDocumentary, Short, History            ',
       '\nAction, Drama, Western            ',
       '\nRomance, Sci-Fi            ',
       '\nDocumentary, Comedy, History            ',
       '\nAnimation, Short, Adventure            ',
       '\nDocumentary, Crime, Music            ', '\nRomance            ',
       '\nAction, Fantasy, Western            ',
       '\nDocumentary, Biography            ',
       '\nAdventure, Drama, Romance            ', '\nAction            ',
       '\nAction, Comedy, Thriller            ',
       '\nBiography, Drama, Thriller            ',
       '\nDocumentary, Action, Adventure            ',
       '\nHistory, Sport, Thriller            ',
       '\nCrime, Fantasy, Thriller            ',
       '\nAnimation, Family            ', '\nAction, Sci-Fi            ',
       '\nAction, Adventure, War            ',
       '\nFamily, Game-Show            ',
       '\nAnimation, Comedy, Fantasy            ',
       '\nAnimation            ', '\nDrama, Musical            ',
       '\nBiography, Drama, War            ',
       '\nComedy, Romance, Sci-Fi            ',
       '\nDocumentary, History, War            ',
       '\nDocumentary, History            ',
       '\nDocumentary, Family            ',
       '\nComedy, Crime, Family            ',
       '\nAction, Fantasy            ',
       '\nAction, Comedy, History            ',
       '\nDrama, Fantasy, Sport            ',
       '\nDocumentary, Reality-TV            ',
       '\nCrime, Drama, Family            ',
       '\nDrama, Family, Music            ',
       '\nDocumentary, Comedy            ', '\nFamily            ',
       '\nShort, Music            ', '\nFantasy, Horror            ',
       '\nAnimation, Short, Drama            ',
       '\nAnimation, Action, Family            ',
       '\nComedy, Fantasy, Mystery            ',
       '\nAnimation, Short, Action            ',
       '\nAction, Romance, Sci-Fi            ',
       '\nDocumentary, Reality-TV, Romance            ',
       '\nFantasy, Romance            ',
       '\nComedy, Drama, Horror            ', nan,
       '\nFilm-Noir, Thriller            ', '\nSport            ',
       '\nDocumentary, Short, Sport            ',
       '\nShort, Comedy, Music            ',
       '\nComedy, Family, Musical            ',
       '\nDocumentary, Biography, Music            ',
       '\nDrama, Romance, Sport            ',
       '\nAnimation, Action, Romance            ',
       '\nComedy, Horror, Sci-Fi            ',
       '\nFamily, Sport            ', '\nBiography, Thriller            ',
       '\nAnimation, Action, Sci-Fi            ',
       '\nShort, Drama            ',
       '\nComedy, Musical, Romance            ',
       '\nDocumentary, Music            ',
       '\nComedy, Crime, Western            ',
       '\nDocumentary, War            ',
       '\nComedy, Horror, Romance            ',
       '\nAction, Romance            ',
       '\nAction, Mystery, Romance            ',
       '\nShort, Crime, Drama            ',
       '\nComedy, Music, Romance            ',
       '\nAction, Drama, Romance            ',
       '\nComedy, Music, Musical            ',
       '\nComedy, Mystery, Sci-Fi            ',
       '\nShort, Action, Adventure            ',
       '\nDocumentary, Animation, Sci-Fi            ',
       '\nDrama, Family, Sci-Fi            ',
       '\nBiography, Music            ',
       '\nShort, Comedy, Crime            ', '\nAdventure            ',
       '\nMusic, Romance            ',
       '\nAnimation, Adventure, Sci-Fi            ',
       '\nAnimation, Action, History            ',
       '\nComedy, Horror, Reality-TV            ',
       '\nTalk-Show            ',
       '\nDocumentary, Adventure, Game-Show            ',
       '\nWestern            ', '\nAction, Thriller, War            ',
       '\nFamily, Sci-Fi, Thriller            ',
       '\nFamily, Romance            ',
       '\nFantasy, Horror, Thriller            ',
       '\nDocumentary, Animation            ',
       '\nComedy, Talk-Show            ',
       '\nShort, Adventure, Comedy            ',
       '\nDocumentary, Short, Sci-Fi            ',
       '\nCrime, Film-Noir, Thriller            ',
       '\nDrama, Family, Mystery            ',
       '\nDrama, History, Music            ',
       '\nComedy, News, Talk-Show            ',
       '\nDrama, Musical, Romance            ',
       '\nComedy, Drama, Mystery            ',
       '\nCrime, Film-Noir, Mystery            ',
       '\nAnimation, Short            ',
       '\nAdventure, Family, Sci-Fi            ',
       '\nGame-Show, Horror, Reality-TV            ',
       '\nComedy, Horror, Mystery            ',
       '\nAction, Comedy, Sci-Fi            ',
       '\nAdventure, Fantasy, Horror            ',
       '\nShort, Horror, Mystery            ',
       '\nAnimation, Comedy, Thriller            ',
       '\nDocumentary, Adventure, History            ',
       '\nAnimation, Sport            ',
       '\nMusic, Reality-TV            ',
       '\nDocumentary, Game-Show            ',
       '\nAdventure, Comedy            ',
       '\nAnimation, Fantasy            ',
       '\nFamily, Adventure, Comedy            ',
       '\nAnimation, Family, Musical            ',
       '\nDrama, Reality-TV            ',
       '\nComedy, Romance, Sport            ',
       '\nDocumentary, Mystery, Reality-TV            ',
       '\nAction, Family            ',
       '\nDocumentary, Horror            ',
       '\nDocumentary, Biography, News            ',
       '\nDocumentary, Short, Drama            ',
       '\nDocumentary, Short            ', '\nAction, Horror            ',
       '\nComedy, Horror, Talk-Show            ',
       '\nAdventure, Reality-TV            ',
       '\nFamily, Music, Romance            ',
       '\nHorror, Mystery, Romance            ',
       '\nFantasy, Music            ', '\nFantasy            ',
       '\nAnimation, Fantasy, Romance            ',
       '\nComedy, Family, Horror            ',
       '\nGame-Show, Music            ',
       '\nDocumentary, Drama, Sport            ',
       '\nDrama, Film-Noir, Mystery            ',
       '\nDocumentary, Short, Crime            ',
       '\nDocumentary, Reality-TV, Talk-Show            ',
       '\nShort, Comedy            ',
       '\nAnimation, Comedy, Sci-Fi            ',
       '\nBiography            ', '\nRomance, Thriller            ',
       '\nDrama, Horror, Romance            ',
       '\nBiography, History, War            ',
       '\nFamily, Talk-Show            ',
       '\nDocumentary, Comedy, Musical            ',
       '\nDrama, Thriller, Western            ',
       '\nDocumentary, Crime, Thriller            ',
       '\nCrime, Drama, Sport            ',
       '\nDocumentary, Short, War            ',
       '\nDrama, Family, History            ', '\nWar            ',
       '\nDocumentary, Romance            ',
       '\nMystery, Romance, Thriller            ',
       '\nComedy, Romance, Western            ',
       '\nDocumentary, Talk-Show            ',
       '\nFantasy, Thriller            ',
       '\nAction, Fantasy, History            ',
       '\nDocumentary, Reality-TV, Sport            ',
       '\nShort, Comedy, Talk-Show            ',
       '\nAction, Mystery            ',
       '\nDocumentary, Short, Biography            ',
       '\nDocumentary, Animation, Comedy            ',
       '\nDocumentary, Biography, Family            ',
       '\nAction, Biography, History            ',
       '\nDocumentary, News            ',
       '\nAnimation, Horror            ',
       '\nDocumentary, History, Sport            ',
       '\nDocumentary, Mystery            ',

In [11]:
df_movies['GENRE'] = df_movies['GENRE'].str.strip()

In [12]:
df_movies['GENRE'].unique()

array(['Action, Horror, Thriller', 'Animation, Action, Adventure',
       'Drama, Horror, Thriller', 'Animation, Adventure, Comedy',
       'Action, Crime, Horror', 'Action, Crime, Drama', 'Drama, Romance',
       'Crime, Drama, Mystery', 'Comedy', 'Action, Adventure, Thriller',
       'Crime, Drama, Fantasy', 'Drama, Horror, Mystery',
       'Comedy, Drama, Romance', 'Crime, Drama, Thriller', 'Drama',
       'Comedy, Drama', 'Drama, Fantasy, Horror', 'Comedy, Romance',
       'Action, Adventure, Drama', 'Crime, Drama',
       'Drama, History, Romance', 'Horror, Mystery', 'Comedy, Crime',
       'Action, Drama, History', 'Action, Adventure, Crime',
       'Action, Adventure, Fantasy', 'Action, Crime, Mystery',
       'Drama, Fantasy, Romance', 'Drama, Sci-Fi, Thriller',
       'Biography, Drama, History', 'Crime, Thriller',
       'Comedy, Crime, Drama', 'Drama, Mystery, Thriller',
       'Action, Adventure, Mystery', 'Action, Comedy',
       'Crime, Drama, Horror', 'Drama, Mystery, Sci-Fi',
       'Action, Comedy, Crime', 'Drama, Family',
       'Action, Adventure, Sci-Fi', 'Animation, Comedy',
       'Action, Comedy, Drama', 'Crime, Horror, Thriller',
       'Action, Adventure, Comedy', 'Animation, Comedy, Drama',
       'Adventure, Fantasy, Romance', 'Action, Drama, Fantasy',
       'Action, Adventure, Biography', 'Comedy, Drama, Fantasy',
       'Action, Adventure, Horror', 'Crime, Drama, Romance',
       'Adventure, Thriller', 'Biography, Crime, Drama',
       'Documentary, Crime, Mystery', 'Action, Drama, Horror',
       'Action, Adventure', 'Animation, Action, Fantasy',
       'Comedy, Drama, Music', 'Action, Crime, Sport', 'Action, Drama',
       'Horror', 'Drama, Mystery, Romance', 'Animation, Action, Comedy',
       'Animation, Short, Comedy', 'Thriller', 'Adventure, Fantasy',
       'Action, Drama, Sci-Fi', 'Game-Show, Reality-TV, Romance',
       'Comedy, Crime, Thriller', 'Drama, Sci-Fi', 'Musical, Romance',
       'Documentary', 'Action, Drama, Mystery', 'Action, Thriller',
       'Animation, Crime, Drama', 'Adventure, Drama', 'Mystery, Thriller',
       'Reality-TV, Romance', 'Animation, Adventure, Family',
       'Animation, Action, Horror', 'Drama, Fantasy', 'Drama, Thriller',
       'Reality-TV', 'Documentary, Biography, History',
       'Adventure, Sci-Fi', 'Animation, Drama, Romance',
       'Adventure, Comedy, Crime', 'Comedy, Fantasy, Romance',
       'Adventure, Drama, Family', 'Action, Crime, Thriller',
       'Biography, Drama, Sport', 'Comedy, Family, Sci-Fi',
       'Animation, Comedy, Romance', 'Animation, Drama, Fantasy',
       'Drama, Fantasy, Sci-Fi', 'Adventure, Horror, Thriller',
       'Action, Comedy, War', 'Family, Fantasy, Musical',
       'Horror, Sci-Fi', 'Comedy, Horror', 'Adventure, Drama, Horror',
       'Drama, Western', 'Drama, History, Thriller',
       'Comedy, Drama, Western', 'Drama, Music, Romance',
       'Horror, Sci-Fi, Thriller', 'Biography, Drama',
       'Drama, Romance, Western', 'Comedy, Crime, Romance',
       'Comedy, Drama, Family', 'Drama, Fantasy, Mystery',
       'Action, Sci-Fi, Thriller', 'Comedy, Drama, Sport',
       'Crime, Drama, History', 'Drama, Family, Romance',
       'Adventure, Comedy, Drama', 'Game-Show, Reality-TV',
       'Documentary, Crime, History', 'Crime, Mystery, Thriller',
       'Comedy, Drama, Musical', 'Adventure, Drama, History',
       'Adventure, Comedy, Reality-TV', 'Family, Fantasy, Mystery',
       'Biography, Comedy', 'Comedy, Music', 'Adventure, Comedy, Romance',
       'Comedy, Drama, Sci-Fi', 'Drama, Horror, Music',
       'Biography, Comedy, Drama', 'Action, Biography, Drama',
       'Adventure, Drama, Mystery', 'Comedy, Musical',
       'Animation, Adventure, Drama', 'Comedy, Family',
       'Action, Horror, Sci-Fi', 'Drama, Horror',
       'Action, Fantasy, Thriller', 'Drama, Family, Fantasy',
       'Action, Crime, Fantasy', 'Animation, Action, Drama',
       'Action, Fantasy, Mystery', 'Action, Comedy, Horror',
       'Horror, Mystery, Thriller', 'Adventure, Drama, Fantasy',
       'Action, Comedy, Family', 'Drama, History',
       'Action, Drama, Thriller', 'Action, Mystery, Thriller',
       'Short, Family', 'Adventure, Comedy, Fantasy',
       'Comedy, Reality-TV', 'Horror, Thriller',
       'Comedy, Drama, Thriller', 'Action, Adventure, Family',
       'Crime, Mystery, Sci-Fi', 'Action, Comedy, Romance',
       'Adventure, Biography, Drama', 'Comedy, Sci-Fi',
       'Drama, Romance, War', 'Animation, Family, Fantasy',
       'Adventure, Fantasy, Sci-Fi', 'Crime, Horror, Mystery',
       'Drama, Family, Sport', 'Animation, Action, Crime',
       'Animation, Drama, Family', 'Drama, Horror, Sci-Fi',
       'Biography, Drama, Romance', 'Action, Horror, Mystery',
       'Drama, Family, Reality-TV', 'Comedy, Mystery',
       'Action, Romance, Thriller', 'Action, Crime, Sci-Fi',
       'Drama, Music, Musical', 'Documentary, Sport', 'Comedy, Sport',
       'Documentary, Biography, Drama', 'Comedy, Family, Romance',
       'Biography, Drama, Family', 'Animation, Drama, Music',
       'Comedy, Family, Music', 'Action, Comedy, Fantasy',
       'Adventure, Family, Fantasy', 'Action, Crime',
       'Adventure, Drama, War', 'Sci-Fi', 'Drama, History, Sport',
       'Drama, Music', 'Horror, Mystery, Sci-Fi', 'Drama, Mystery',
       'Drama, War', 'Documentary, Biography, Crime',
       'Documentary, Biography, Sport', 'Drama, History, War',
       'Animation, Adventure, Fantasy', 'Action, Western',
       'Adventure, Comedy, Family', 'Action, Fantasy, Sci-Fi',
       'Crime, Drama, Sci-Fi', 'Comedy, Thriller',
       'Animation, Comedy, Family', 'Mystery, Sci-Fi, Thriller',
       'Crime, Sci-Fi, Thriller', 'Animation, Adventure',
       'Documentary, Crime', 'Biography, Drama, Musical',
       'Action, Biography, Crime', 'Biography, Drama, Music',
       'Drama, Family, Musical', 'Crime, Drama, Music',
       'Documentary, Drama', 'Animation, Drama, Mystery',
       'Crime, Mystery, Romance', 'Drama, Romance, Sci-Fi',
       'Fantasy, Mystery, Romance', 'Drama, Fantasy, Thriller',
       'Family, Fantasy, Horror', 'Comedy, Horror, Thriller',
       'Animation, Biography, Drama', 'Drama, Sport',
       'Drama, Thriller, War', 'Horror, Music, Thriller',
       'Comedy, Fantasy, Musical', 'Documentary, Drama, History',
       'Documentary, Crime, Sport', 'Comedy, Drama, War',
       'Action, Drama, Sport', 'Comedy, Mystery, Romance',
       'Documentary, Crime, Drama', 'Action, Mystery, Sci-Fi',
       'Game-Show', 'Documentary, Adventure', 'Action, Fantasy, Horror',
       'Action, Drama, War', 'Music', 'Crime, Drama, Western',
       'Adventure, Drama, Thriller', 'Sci-Fi, Thriller',
       'Fantasy, Horror, Romance', 'Drama, Romance, Thriller',
       'Crime, Drama, Film-Noir', 'Crime, History, Thriller',
       'Drama, History, Western', 'Family, Fantasy',
       'Fantasy, Horror, Sci-Fi', 'Comedy, Crime, Mystery',
       'Adventure, Drama, Sci-Fi', 'Fantasy, Horror, Mystery',
       'Action, War', 'Documentary, Adventure, Drama',
       'Comedy, Fantasy, Horror', 'Animation, Action',
       'Short, Drama, Sci-Fi', 'Short, Drama, Romance',
       'Drama, History, Horror', 'Documentary, Drama, Mystery',
       'Animation, Drama, Horror', 'Short, Action, Comedy',
       'Comedy, Family, Fantasy', 'Horror, Reality-TV',
       'Adventure, Comedy, Mystery', 'Documentary, Biography, Comedy',
       'Comedy, Fantasy', 'Adventure, Romance',
       'Adventure, Family, Horror', 'Crime', 'Animation, Comedy, Sport',
       'Biography, Crime', 'Animation, Adventure, Horror',
       'Documentary, Short, History', 'Action, Drama, Western',
       'Romance, Sci-Fi', 'Documentary, Comedy, History',
       'Animation, Short, Adventure', 'Documentary, Crime, Music',
       'Romance', 'Action, Fantasy, Western', 'Documentary, Biography',
       'Adventure, Drama, Romance', 'Action', 'Action, Comedy, Thriller',
       'Biography, Drama, Thriller', 'Documentary, Action, Adventure',
       'History, Sport, Thriller', 'Crime, Fantasy, Thriller',
       'Animation, Family', 'Action, Sci-Fi', 'Action, Adventure, War',
       'Family, Game-Show', 'Animation, Comedy, Fantasy', 'Animation',
       'Drama, Musical', 'Biography, Drama, War',
       'Comedy, Romance, Sci-Fi', 'Documentary, History, War',
       'Documentary, History', 'Documentary, Family',
       'Comedy, Crime, Family', 'Action, Fantasy',
       'Action, Comedy, History', 'Drama, Fantasy, Sport',
       'Documentary, Reality-TV', 'Crime, Drama, Family',
       'Drama, Family, Music', 'Documentary, Comedy', 'Family',
       'Short, Music', 'Fantasy, Horror', 'Animation, Short, Drama',
       'Animation, Action, Family', 'Comedy, Fantasy, Mystery',
       'Animation, Short, Action', 'Action, Romance, Sci-Fi',
       'Documentary, Reality-TV, Romance', 'Fantasy, Romance',
       'Comedy, Drama, Horror', nan, 'Film-Noir, Thriller', 'Sport',
       'Documentary, Short, Sport', 'Short, Comedy, Music',
       'Comedy, Family, Musical', 'Documentary, Biography, Music',
       'Drama, Romance, Sport', 'Animation, Action, Romance',
       'Comedy, Horror, Sci-Fi', 'Family, Sport', 'Biography, Thriller',
       'Animation, Action, Sci-Fi', 'Short, Drama',
       'Comedy, Musical, Romance', 'Documentary, Music',
       'Comedy, Crime, Western', 'Documentary, War',
       'Comedy, Horror, Romance', 'Action, Romance',
       'Action, Mystery, Romance', 'Short, Crime, Drama',
       'Comedy, Music, Romance', 'Action, Drama, Romance',
       'Comedy, Music, Musical', 'Comedy, Mystery, Sci-Fi',
       'Short, Action, Adventure', 'Documentary, Animation, Sci-Fi',
       'Drama, Family, Sci-Fi', 'Biography, Music',
       'Short, Comedy, Crime', 'Adventure', 'Music, Romance',
       'Animation, Adventure, Sci-Fi', 'Animation, Action, History',
       'Comedy, Horror, Reality-TV', 'Talk-Show',
       'Documentary, Adventure, Game-Show', 'Western',
       'Action, Thriller, War', 'Family, Sci-Fi, Thriller',
       'Family, Romance', 'Fantasy, Horror, Thriller',
       'Documentary, Animation', 'Comedy, Talk-Show',
       'Short, Adventure, Comedy', 'Documentary, Short, Sci-Fi',
       'Crime, Film-Noir, Thriller', 'Drama, Family, Mystery',
       'Drama, History, Music', 'Comedy, News, Talk-Show',
       'Drama, Musical, Romance', 'Comedy, Drama, Mystery',
       'Crime, Film-Noir, Mystery', 'Animation, Short',
       'Adventure, Family, Sci-Fi', 'Game-Show, Horror, Reality-TV',
       'Comedy, Horror, Mystery', 'Action, Comedy, Sci-Fi',
       'Adventure, Fantasy, Horror', 'Short, Horror, Mystery',
       'Animation, Comedy, Thriller', 'Documentary, Adventure, History',
       'Animation, Sport', 'Music, Reality-TV', 'Documentary, Game-Show',
       'Adventure, Comedy', 'Animation, Fantasy',
       'Family, Adventure, Comedy', 'Animation, Family, Musical',
       'Drama, Reality-TV', 'Comedy, Romance, Sport',
       'Documentary, Mystery, Reality-TV', 'Action, Family',
       'Documentary, Horror', 'Documentary, Biography, News',
       'Documentary, Short, Drama', 'Documentary, Short',
       'Action, Horror', 'Comedy, Horror, Talk-Show',
       'Adventure, Reality-TV', 'Family, Music, Romance',
       'Horror, Mystery, Romance', 'Fantasy, Music', 'Fantasy',
       'Animation, Fantasy, Romance', 'Comedy, Family, Horror',
       'Game-Show, Music', 'Documentary, Drama, Sport',
       'Drama, Film-Noir, Mystery', 'Documentary, Short, Crime',
       'Documentary, Reality-TV, Talk-Show', 'Short, Comedy',
       'Animation, Comedy, Sci-Fi', 'Biography', 'Romance, Thriller',
       'Drama, Horror, Romance', 'Biography, History, War',
       'Family, Talk-Show', 'Documentary, Comedy, Musical',
       'Drama, Thriller, Western', 'Documentary, Crime, Thriller',
       'Crime, Drama, Sport', 'Documentary, Short, War',
       'Drama, Family, History', 'War', 'Documentary, Romance',
       'Mystery, Romance, Thriller', 'Comedy, Romance, Western',
       'Documentary, Talk-Show', 'Fantasy, Thriller',
       'Action, Fantasy, History', 'Documentary, Reality-TV, Sport',
       'Short, Comedy, Talk-Show', 'Action, Mystery',
       'Documentary, Short, Biography', 'Documentary, Animation, Comedy',
       'Documentary, Biography, Family', 'Action, Biography, History',
       'Documentary, News', 'Animation, Horror',
       'Documentary, History, Sport', 'Documentary, Mystery',
       'Animation, Comedy, Musical', 'Documentary, Comedy, Drama',
       'Animation, Fantasy, Sci-Fi', 'Documentary, Animation, History',
       'Comedy, Fantasy, Reality-TV', 'Game-Show, Reality-TV, Sport',
       'Comedy, History, Romance', 'Biography, Drama, Mystery',
       'Adventure, Drama, Sport', 'Family, Reality-TV',
       'Adventure, Mystery', 'Documentary, History, News',
       'Family, Musical', 'Animation, Drama, Sport',
       'Action, Crime, Romance', 'Documentary, Horror, Mystery',
       'Documentary, Action, Biography', 'Romance, Sport',
       'Biography, History', 'News', 'Horror, Romance',
       'Adventure, Family', 'Drama, Sci-Fi, War',
       'Documentary, Action, History', 'Short, Horror',
       'Documentary, Biography, War', 'Adventure, Music, Sci-Fi',
       'Mystery', 'Animation, Family, Sci-Fi', 'Musical',
       'Documentary, Drama, Family', 'Short, Mystery, Sci-Fi',
       'Comedy, Documentary', 'Short', 'Documentary, Western',
       'Documentary, Short, Family', 'Animation, Short, Mystery',
       'Animation, Short, Family', 'Comedy, Animation',
       'Documentary, Biography, Romance', 'Documentary, Drama, Fantasy',
       'Short, Documentary', 'Documentary, Comedy, Music',
       'Music, Musical', 'Family, Music', 'Game-Show, Music, Reality-TV',
       'Action, History', 'Documentary, Adventure, Biography',
       'Short, Biography, Drama', 'Documentary, Adventure, News',
       'Drama, Fantasy, History', 'Drama, Short',
       'Action, Adventure, Sport', 'Crime, Horror',
       'History, Music, Talk-Show', 'Comedy, Drama, History',
       'Documentary, Crime, News', 'Documentary, Music, Sport',
       'Documentary, History, Mystery', 'Documentary, Short, Comedy',
       'Short, Sci-Fi', 'Crime, Comedy', 'Thriller, Mystery',
       'Comedy, Mystery, Thriller', 'Documentary, History, Music',
       'Documentary, Family, History', 'Documentary, Action, Crime',
       'Short, History', 'Short, Reality-TV', 'Short, Action',
       'Biography, Family, News', 'News, Reality-TV', 'Talk-Show, Sport'],
      dtype=object)

In [8]:
df_movies[df_movies['GENRE'].isnull()]

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
2124,Rodney & Sheryl,NaN,NaN,NaN,\nBased on the unbelievable true story of seri...,\n Director:\nChloe Okuno\n| \n Star:\nA...,NaN,NaN,NaN
3144,Our Man from Jersey,NaN,NaN,NaN,\nAdd a Plot\n,"\n \n Stars:\nMark Wahlberg, \nH...",NaN,NaN,NaN
3433,The Upper World,NaN,NaN,NaN,\nEsso is caught in a deadly feud and on the v...,\n \n Star:\nDaniel Kaluuya\n,NaN,NaN,NaN
3695,Kod Adi: Kulüp,(2021– ),NaN,NaN,\nAdd a Plot\n,"\n \n Stars:\nGökçe Bahadir, \nB...",NaN,NaN,NaN
4039,Oompa-Loompas,NaN,NaN,NaN,\nTV series centering on the adventures of the...,\n,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6453,Untitled Tituss Burgess/Netflix Project,NaN,NaN,NaN,\nPlot under wraps.,\n,NaN,NaN,NaN
6461,One Piece: Enter Chopper at the Winter Island,(2020 TV Movie),NaN,NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
8769,Rádio Coisa Mais Linda,(2020),NaN,NaN,\nAdd a Plot\n,\n Director:\nCaito Ortiz\n| \n Stars:\n...,NaN,NaN,NaN
8770,Rádio Coisa Mais Linda,(2020),NaN,NaN,\nAdd a Plot\n,\n Director:\nCaito Ortiz\n| \n Stars:\n...,NaN,NaN,NaN
8771,Rádio Coisa Mais Linda,(2020),NaN,NaN,\nAdd a Plot\n,\n Director:\nCaito Ortiz\n| \n Stars:\n...,NaN,NaN,NaN

In [13]:
df_movies['YEAR'].unique()

array(['(2021)', '(2021– )', '(2010–2022)', '(2013– )', '(2020– )',
       '(2006–2013)', '(2019– )', '(2016–2021)', '(2011– )', '(2005– )',
       '(2008–2013)', '(2017– )', '(2017–2021)', '(2016– )',
       '(1994–2004)', '(2014– )', '(2013–2020)', '(2015– )',
       '(2005–2020)', '(2013–2022)', '(2003– )', '(2009–2020)',
       '(I) (2018– )', '(2010–2015)', '(2011–2019)', '(2015–2020)',
       '(2005–2014)', '(2009–2015)', '(2008–2014)', '(2016–2018)',
       '(2009–2017)', '(2020)', '(2018–2021)', '(2017–2020)',
       '(1987–1994)', '(2018– )', '(2012– )', '(2014–2020)',
       '(2011–2018)', '(2005–2017)', '(2017)', '(2007–2015)',
       '(2000–2007)', '(II) (2007– )', '(1993)', '(1999–2022)',
       '(2015–2018)', '(2014–2019)', '(2016)', '(2012–2020)',
       '(2013–2019)', '(2007–2012)', '(2011–2020)', '(2010–2017)',
       '(2000–2015)', '(2015–2021)', '(2001)', '(1997– )', '(2011–2017)',
       '(1993–1999)', '(1989–1998)', '(2010–2013)', '(2010–2020)',
       '(2003–2019)', '(I) (2019)', '(2017–2019)', '(1975)',
       '(2005–2008)', '(1995–2001)', '(2006)', '(2015–2017)',
       '(2008–2020)', '(1984–1996)', '(2010– )', '(2014)', '(2000)',
       '(2013–2018)', '(2009–2016)', '(2016–2020)', '(2021 TV Special)',
       '(2003)', '(1998–2003)', '(I) (2017)', '(1966–1969)', '(2009– )',
       '(2019)', '(1990–1991)', '(2012)', '(1995)', '(2020–2021)',
       '(2013–2017)', '(2015)', '(2019–2020)', '(2017–2018)',
       '(2013–2015)', '(2012–2017)', '(I) (2013–2016)', '(2002)',
       '(I) (2020)', '(III) (2021)', '(2018)', '(II) (2016)', '(1976)',
       '(1978)', '(2016–2019)', '(2009–2014)', '(2022)', '(2011–2014)',
       '(2007–2013)', '(2006–2007)', '(2002–2007)', '(2014–2017)',
       '(2010–2019)', '(2008– )', '(2012–2019)', '(2014–2016)',
       '(2009–2012)', '(2018–2020)', '(2001–2005)', '(2011–2015)',
       '(2014–2018)', '(2015–2019)', '(1982–1993)', '(1998– )', '(1968)',
       '(2010–2018)', '(2014–2021)', '(2007–2010)', '(2011)',
       '(2013–2021)', '(1990–1996)', '(2004)', '(2007–2014)',
       '(1996–2001)', '(2013)', '(2008)', '(1999–2000)', '(2012–2014)',
       '(I) (2013)', '(2012–2018)', '(2018–2019)', '(2009–2013)',
       '(1971)', '(2004– )', '(1989)', '(1998)', '(2001–2018)',
       '(1987–1995)', '(I) (2014)', '(1998–2020)', '(I) (2015)', '(1997)',
       '(2004–2013)', '(2002– )', '(2010)', '(I) (2016)', '(II) (2017– )',
       '(I) (2018)', '(I) (2021)', '(2004–2012)', '(2019–2021)',
       '(IV) (2020)', '(2006–2010)', '(2006–2012)', '(1996)',
       '(1994–2000)', '(II) (2020)', '(1980)', '(I) (2011)',
       '(1995–1996)', '(2016–2017)', '(1993–1996)', '(II) (2019– )',
       '(2009)', '(1962)', '(1991)', '(2022– )', '(II) (2017)',
       '(I) (2012)', '(1984)', '(2011–2016)', '(2009–2019)',
       '(II) (2020– )', '(2006–2021)', '(I) (2010)', '(2012–2015)',
       '(I) (2013–2014)', '(1960)', '(1988)', '(2007)', '(1987)',
       '(2010–2011)', '(1969)', '(2006–2011)', '(II) (2019)', '(1961)',
       '(1979)', '(II) (2022)', '(2014–2015)', '(1956)', '(2013–2016)',
       '(III) (2018)', '(2005)', '(II) (2012– )', '(II) (2013)', '(1983)',
       '(2002–2019)', '(2013 TV Movie)', '(II) (2015)', '(I) (2012–2015)',
       '(1975–1979)', '(1990)', nan, '(II) (2018)', '(IV) (2021)',
       '(2015–2016)', '(1995–1998)', '(1986)', '(2012–2013)', '(1966)',
       '(2011–2012)', '(2011–2021)', '(2016 Video)', '(2017 TV Movie)',
       '(2009–2011)', '(2004–2018)', '(1967)', '(1984– )', '(1994)',
       '(2003–2006)', '(III) (2015)', '(1974)', '(2000–2004)',
       '(1984–2021)', '(I)', '(II) (2021)', '(1994–1999)', '(III)',
       '(1992)', '(1969–1974)', '(2012–2016)', '(2013–2014)',
       '(I) (2008)', '(1958)', '(2008–2009)', '(II) (2004)',
       '(III) (2019)', '(2006–2009)', '(2011–2013)', '(2007–2008)',
       '(1988–1999)', '(2010–2012)', '(2010–2014)', '(II) (2012)',
       '(1932)', '(2014 TV Movie)', '(1941)', '(2006– )', '(1992–1995)',
       '(2016 TV Special)', '(2020 TV Movie)', '(2008–2010)', '(II)',
       '(2020 Video)', '(1999– )', '(1950)', '(2020 TV Special)',
       '(1992–2014)', '(2002–2005)', '(2013 TV Special)', '(I) (2021– )',
       '(1999)', '(2016 TV Movie)', '(XII)', '(VII)', '(2021 TV Movie)',
       '(1983– )', '(1996 Video)', '(1993 TV Movie)', '(2018 TV Movie)',
       '(2005–2009)', '(2001–2002)', '(2015 TV Movie)', '(I) (2020– )',
       '(2011 Video)', '(2008 Video)', '(2012 Video)', '(1946)',
       '(II) (2014)', '(2019 Video)', '(1981–1989)', '(IV) (2016)',
       '(III) (2016)', '(2019 TV Movie)', '(1952)', '(2007 Video)',
       '(2000–2014)', '(1992– )', '(1957)', '(2003–2007)', '(IV)',
       '(2008–2017)', '(2008–2019)', '(1998–2000)', '(I) (2004)',
       '(2007–2016)', '(2017 TV Special)', '(2009 TV Movie)',
       '(2013 Video)', '(2017 Video)', '(1994–1996)', '(IV) (2017)',
       '(IV) (2018)', '(2007– )', '(1954)', '(2012 TV Movie)', '(1995– )',
       '(1982)', '(1955)', '(2014 TV Short)', '(I) (2022– )',
       '(I) (2019–2020)', '(1975 TV Movie)', '(2019 TV Special)',
       '(2015 TV Special)', '(2015 TV Short)', '(2018 TV Special)',
       '(1948)', '(2014 Video)', '(VI) (2014)', '(2003–2013)',
       '(2021 Video)', '(1947)', '(2001– )', '(II) (2021– )',
       '(1997–2000)', '(III) (2020)', '(I) (2019– )', '(1993– )',
       '(1977)', '(I) (2009)', '(V)', '(2023)', '(I) (2000)',
       '(TV Special)', '(II) (2011)', '(TV Movie)', '(1945)',
       '(2015 Video)', '(III) (2010)', '(2009 Video)', '(1998–2002)',
       '(2008 TV Movie)', '(2019 TV Short)', '(2004 Video)',
       '(II) (1998)', '(2014 TV Special)', '(1953)', '(1985)', '(VIII)',
       '(1973)', '(2012 TV Special)', '(V) (2016)', '(1972)',
       '(V) (2018)', '(II) (2010)', '(2021 TV Short)', '(VI) (2019)',
       '(I) (2005)', '(1965)', '(2010–2016)', '(V) (2010)', '(2005–2013)',
       '(2006 TV Special)', '(2006 Video)', '(2011 TV Movie)',
       '(1988 TV Movie)', '(XXIII)', '(2011 TV Special)',
       '(2020 TV Short)', '(VI) (2018)', '(2008 TV Special)',
       '(1998–1999)', '(I) (2015– )', '(III) (2012)', '(VI)',
       '(2010 TV Special)', '(III) (2017)', '(1993 TV Special)',
       '(2004–2005)', '(1992 Video)', '(1989 TV Special)', '(XI)',
       '(III) (2014)', '(1966 TV Special)', '(1999 TV Movie)',
       '(1987 TV Special)', '(1944)', '(1998 TV Special)',
       '(2006 TV Movie)', '(2022 TV Special)', '(1989 Video)',
       '(1991 TV Special)', '(XLI)', '(IV) (2014)', '(2005 Video)',
       '(2007 TV Special)', '(1965 TV Special)', '(1990 TV Special)',
       '(2001 TV Special)', '(IX)', '(II) (2016– )', '(XIV) (2017)',
       '(2009–2010)', '(XIII)', '(II) (2012–2019)', '(1933)',
       '(II) (2009)', '(2010 Video)', '(2009 TV Special)', '(1938)',
       '(2003 TV Special)', '(Video)', '(2001 TV Movie)', '(VI) (2016)',
       '(III) (2011)', '(2007 TV Movie)', '(2017 TV Short)',
       '(2018 Video)', '(2000 Video)', '(1995 Video)', '(2003 Video)',
       '(II) (2016 TV Movie)', '(1998 Video)', '(2005 TV Special)',
       '(2004–2009)', '(2018 Video Game)', '(1988– )', '(1985– )'],
      dtype=object)

## Latihan

untuk latihan tanggal bisa dicoba data penjualan properti di new york https://www.kaggle.com/datasets/new-york-city/nyc-property-sales

- kita pisahkan per tahun, perbandingan volume penjualan tahun 2016 ke tahun 2017
- kita pisahkan per bulan, perbandingan volume penjualan per bulan, apakah ada bulan tertentu yang lebih ramai
- coba ganti format tanggalannya menjadi tanggal - bulan - tahun